{% load webp_converter revers_path i18n %}
<card-project title="{{project.title}}"
              more-text="{% translate 'get more' %}"
              id="{{project.id}}"
              type="{{project.type}}"
              href="{% get_path project.slug page_name='Project' %}"
              {% if extensible == True %}extensible{% endif %}>
    {% if not extensible %}
    <template #header>
        <a class="card-project__title-link" href="{% get_path project.slug page_name='Project' %}">{{project.title|safe}}</a>
        <a class="card-project__type-link" href="{% get_path page_name='Projects' %}?type={{project.typeValue}}"> {{project.type.upper}} </a>
    </template>
    {% endif %}
    <template #gallery>
        {% include 'partial/gallery.html' with images=project.images %}
    </template>
    <h4 class="card-project__subtitle">{{project.subtitle|safe}}</h4>
    <div class="card-project__text">
        {{project.description|safe}}
    </div>
    {% include 'partial/technology-list.html' with list=project.technologies %}
</card-project>