/* line 3, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
body {
  background: #222831; }

/* line 7, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
#header {
  height: 40px;
  background: #008891;
  color: #000;
  box-shadow: 0 7px 2px -7px #0008 inset,  0 -7px 2px -7px #0008 inset; }

/* line 18, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
#branding h1 a:link, #branding h1 a:visited {
  color: #353535;
  font-weight: 800; }

/* line 26, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
#user-tools a:hover {
  color: #353535; }

/* line 31, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
div.breadcrumbs {
  background-color: #00587a; }

/* line 35, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
#toggle-nav-sidebar {
  background: #222831;
  border: none;
  color: #008891;
  font-weight: 800; }
  /* line 40, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
  #toggle-nav-sidebar:hover {
    color: #c9c9c9; }

/* line 45, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
#nav-sidebar {
  background: #222831;
  padding-top: 50px;
  border: none;
  border-right: 1px solid #393e46; }
  /* line 51, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
  #nav-sidebar caption {
    background-color: #00587a; }
  /* line 54, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
  #nav-sidebar table {
    border-color: red; }
    /* line 56, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
    #nav-sidebar table tr:nth-child(odd) {
      background: #393e46; }
    /* line 59, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
    #nav-sidebar table tr:nth-child(even) {
      background: #505762; }
