/* line 2, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_links-button.scss */
a:link, a:visited {
  color: #c9c9c9; }

/* line 8, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_links-button.scss */
.module .addlink {
  background: none;
  padding-left: 25px;
  position: relative; }
  /* line 15, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
  .module .addlink::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 25px;
    height: 100%;
    background-image: url("/static/admin/img/add.svg?816e87320fc9");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center left;
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(120%) contrast(97%); }
  /* line 30, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
  .module .addlink:hover::before {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(160%) contrast(97%); }

/* line 12, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_links-button.scss */
.module .changelink {
  background: none;
  padding-left: 25px;
  position: relative; }
  /* line 15, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
  .module .changelink::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 25px;
    height: 100%;
    background-image: url("/static/admin/img/pencil.svg?fdb73bb72364");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center left;
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(120%) contrast(97%); }
  /* line 30, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
  .module .changelink:hover::before {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(160%) contrast(97%); }

/* line 2, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
body {
  background: #222831; }

/* line 7, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
#header {
  height: 40px;
  background: #3e1f47ff;
  color: #000;
  box-shadow: 0 7px 2px -7px #0008 inset,  0 -7px 2px -7px #0008 inset; }

/* line 18, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
#branding h1 a:link, #branding h1 a:visited {
  color: #c9c9c9;
  font-weight: 800; }

/* line 25, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
#user-tools {
  color: white; }
  /* line 27, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
  #user-tools strong {
    margin-right: 10px; }
  /* line 31, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
  #user-tools a:hover {
    color: #353535; }

/* line 36, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
div.breadcrumbs {
  background-color: #272640ff; }

/* line 1, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_sidebar.scss */
#toggle-nav-sidebar {
  background: #222831;
  border: none;
  font-weight: 800; }
  /* line 5, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_sidebar.scss */
  #toggle-nav-sidebar:hover {
    color: #c9c9c9; }

/* line 10, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_sidebar.scss */
#nav-sidebar {
  background: #222831;
  padding-top: 65px;
  border: none;
  border-right: 1px solid #393e46; }
  /* line 16, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_sidebar.scss */
  #nav-sidebar tr.current-model {
    background-color: rgba(6, 90, 96, 0.1); }

/* line 2, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_content-related.scss */
#content-related {
  background: #393e46;
  border: 1px solid #1b3a4bff; }
  /* line 6, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_content-related.scss */
  #content-related .module h2, #content-related .module h3 {
    color: #c9c9c9; }
  /* line 9, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_content-related.scss */
  #content-related .module h2 {
    border-bottom-color: #1b3a4bff; }
  /* line 14, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_content-related.scss */
  #content-related .actionlist li {
    padding-left: 30px; }

/* line 2, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_content.scss */
#content h1 {
  color: #c9c9c9; }

/* line 19, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
form * {
  box-sizing: border-box; }

/* line 23, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
form fieldset.module {
  color: #c9c9c9;
  background: transparent; }
  /* line 27, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form fieldset.module label {
    color: #c9c9c9; }
  /* line 31, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form fieldset.module input[type=text], form fieldset.module input[type=number], form fieldset.module select, form fieldset.module textarea {
    background: #393e46;
    color: #c9c9c9;
    outline: none;
    border-color: #144552ff; }
    /* line 36, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
    form fieldset.module input[type=text]:focus, form fieldset.module input[type=number]:focus, form fieldset.module select:focus, form fieldset.module textarea:focus {
      border-color: #c13fc1; }
  /* line 41, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form fieldset.module .form-row {
    border-bottom: 1px solid #fff2; }
  /* line 46, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form fieldset.module .related-widget-wrapper a.add-related {
    background: none;
    padding-left: 25px;
    position: relative;
    font-size: 1.1em;
    display: inline-block;
    height: 30px;
    margin-bottom: 10px; }
    /* line 15, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
    form fieldset.module .related-widget-wrapper a.add-related::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 25px;
      height: 100%;
      background-image: url("/static/admin/img/add.svg?816e87320fc9");
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: center left;
      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(120%) contrast(97%); }
    /* line 30, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
    form fieldset.module .related-widget-wrapper a.add-related:hover::before {
      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(160%) contrast(97%); }
    /* line 5, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
    form fieldset.module .related-widget-wrapper a.add-related::before {
      background-size: 1.1em; }
    /* line 51, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
    form fieldset.module .related-widget-wrapper a.add-related > img {
      display: none; }
    /* line 54, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
    form fieldset.module .related-widget-wrapper a.add-related::after {
      content: "add";
      line-height: 30px;
      vertical-align: middle; }
  /* line 60, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form fieldset.module .related-widget-wrapper a.change-related {
    background: none;
    padding-left: 25px;
    position: relative;
    font-size: 1.1em; }
    /* line 15, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
    form fieldset.module .related-widget-wrapper a.change-related::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 25px;
      height: 100%;
      background-image: url("/static/admin/img/pencil.svg?fdb73bb72364");
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: center left;
      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(120%) contrast(97%); }
    /* line 30, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
    form fieldset.module .related-widget-wrapper a.change-related:hover::before {
      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(160%) contrast(97%); }
    /* line 13, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
    form fieldset.module .related-widget-wrapper a.change-related::before {
      background-size: 1.1em; }
    /* line 62, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
    form fieldset.module .related-widget-wrapper a.change-related > img {
      display: none; }
  /* line 67, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form fieldset.module .related-widget-wrapper .selector {
    float: none; }
    /* line 69, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
    form fieldset.module .related-widget-wrapper .selector .selector-filter,
    form fieldset.module .related-widget-wrapper .selector .selector-chosen h2,
    form fieldset.module .related-widget-wrapper .selector .selector-available h2 {
      background: #312244ff;
      border: none;
      color: #c9c9c9; }
    /* line 77, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
    form fieldset.module .related-widget-wrapper .selector .selector-chosen h2,
    form fieldset.module .related-widget-wrapper .selector .selector-available h2 {
      background: #4d194dff;
      border-bottom: 1px solid #fff8; }
    /* line 42, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
    form fieldset.module .related-widget-wrapper .selector select::-webkit-scrollbar {
      width: 10px; }
    /* line 46, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
    form fieldset.module .related-widget-wrapper .selector select::-webkit-scrollbar-track {
      background: #fff8; }
    /* line 50, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
    form fieldset.module .related-widget-wrapper .selector select::-webkit-scrollbar-thumb {
      background: #144552ff; }
    /* line 54, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
    form fieldset.module .related-widget-wrapper .selector select::-webkit-scrollbar-thumb:hover {
      background: #006466ff; }

/* line 93, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
form .inline-group {
  overflow: initial; }
  /* line 95, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form .inline-group h2 {
    background: #4d194dff; }
  /* line 99, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form .inline-group fieldset.module table th {
    background: #312244ff;
    color: #c9c9c9;
    border-color: #fff2; }
  /* line 104, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form .inline-group fieldset.module table tr:nth-child(odd) {
    background-color: #222831; }
  /* line 107, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form .inline-group fieldset.module table tr:nth-child(even) {
    background-color: #282f3a; }
  /* line 110, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form .inline-group fieldset.module table td {
    border-bottom: #fff2; }
  /* line 113, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form .inline-group fieldset.module table tbody tr.add-row > td {
    background-color: #222831;
    border: none; }
    /* line 116, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
    form .inline-group fieldset.module table tbody tr.add-row > td a {
      background: none;
      padding-left: 25px;
      position: relative;
      font-size: 1.1em; }
      /* line 15, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
      form .inline-group fieldset.module table tbody tr.add-row > td a::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 25px;
        height: 100%;
        background-image: url("/static/admin/img/add.svg?816e87320fc9");
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center left;
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(120%) contrast(97%); }
      /* line 30, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
      form .inline-group fieldset.module table tbody tr.add-row > td a:hover::before {
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(160%) contrast(97%); }
      /* line 5, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
      form .inline-group fieldset.module table tbody tr.add-row > td a::before {
        background-size: 1.1em; }
  /* line 125, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form .inline-group[data-inline-type="stacked"] div.add-row {
    background-color: #222831;
    border: none;
    border-top: 2px solid #fff2; }
    /* line 129, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
    form .inline-group[data-inline-type="stacked"] div.add-row a {
      background: none;
      padding-left: 25px;
      position: relative;
      font-size: 1.1em; }
      /* line 15, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
      form .inline-group[data-inline-type="stacked"] div.add-row a::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 25px;
        height: 100%;
        background-image: url("/static/admin/img/add.svg?816e87320fc9");
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center left;
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(120%) contrast(97%); }
      /* line 30, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_mixins.scss */
      form .inline-group[data-inline-type="stacked"] div.add-row a:hover::before {
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(160%) contrast(97%); }
      /* line 5, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
      form .inline-group[data-inline-type="stacked"] div.add-row a::before {
        background-size: 1.1em; }
  /* line 135, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form .inline-group[data-inline-type="stacked"] .inline-related {
    border: none;
    overflow: initial; }
    /* line 138, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
    form .inline-group[data-inline-type="stacked"] .inline-related fieldset.module {
      display: flex;
      flex-wrap: wrap; }
      /* line 141, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
      form .inline-group[data-inline-type="stacked"] .inline-related fieldset.module > * {
        flex: 1 0 auto; }
      /* line 145, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
      form .inline-group[data-inline-type="stacked"] .inline-related fieldset.module .form-row {
        border-color: #fff2;
        max-width: 100%; }
        @media (max-width: 772px) {
          /* line 149, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
          form .inline-group[data-inline-type="stacked"] .inline-related fieldset.module .form-row > div {
            width: calc(100vw - 50px); } }
    /* line 155, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
    form .inline-group[data-inline-type="stacked"] .inline-related h3 {
      background: #312244ff;
      color: #c9c9c9;
      border-color: #393e46; }
      /* line 159, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
      form .inline-group[data-inline-type="stacked"] .inline-related h3 span.delete {
        margin-left: auto;
        flex: unset; }

/* line 169, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
form input[type="file"]::-webkit-file-upload-button {
  color: #c9c9c9;
  display: inline-block;
  background: #144552ff;
  border: none;
  padding: 7px 15px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt; }

/* line 182, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
form input[type="file"]:hover::-webkit-file-upload-button {
  background: #065a60ff; }

/* line 188, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
form .submit-row {
  background: #222831;
  border: none;
  border-top: 2px solid #fff8;
  border-radius: 0; }
  /* line 193, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form .submit-row input[type="submit"] {
    background: #144552ff; }
    /* line 195, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
    form .submit-row input.default[type="submit"] {
      background: #006466ff; }

/* line 204, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
.calendar table caption {
  background: #0b525bff; }

/* line 207, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
.calendar table tr, .calendar table th, .calendar table td, .calendar table tbody, .calendar table td.nonday {
  background: #222831;
  border: none; }

/* line 211, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
.calendar table tr:first-of-type {
  border-bottom: 1px solid #fff8; }

/* line 216, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
.calendar div.calendar-shortcuts {
  background: #222831; }

/* line 2, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_app-table.scss */
div.module caption {
  background-color: #0b525bff; }

/* line 5, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_app-table.scss */
div.module table {
  color: #c9c9c9;
  background: #222831; }
  /* line 8, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_app-table.scss */
  div.module table tr:nth-child(odd) {
    background: #393e46; }
  /* line 11, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_app-table.scss */
  div.module table tr:nth-child(even) {
    background: #505762; }
  /* line 14, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_app-table.scss */
  div.module table th, div.module table td {
    border-bottom-color: #393e46;
    color: #c9c9c9; }
