/* line 2, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
body {
  background: #222831; }

/* line 7, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
#header {
  height: 40px;
  background: #3e1f47ff;
  color: #000;
  box-shadow: 0 7px 2px -7px #0008 inset,  0 -7px 2px -7px #0008 inset; }

/* line 18, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
#branding h1 a:link, #branding h1 a:visited {
  color: #c9c9c9;
  font-weight: 800; }

/* line 25, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
#user-tools {
  color: white; }
  /* line 27, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
  #user-tools strong {
    margin-right: 10px; }
  /* line 31, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
  #user-tools a:hover {
    color: #353535; }

/* line 36, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
div.breadcrumbs {
  background-color: #272640ff; }

/* line 1, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_sidebar.scss */
#toggle-nav-sidebar {
  background: #222831;
  border: none;
  font-weight: 800; }
  /* line 5, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_sidebar.scss */
  #toggle-nav-sidebar:hover {
    color: #c9c9c9; }

/* line 10, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_sidebar.scss */
#nav-sidebar {
  background: #222831;
  padding-top: 65px;
  border: none;
  border-right: 1px solid #393e46; }
  /* line 16, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_sidebar.scss */
  #nav-sidebar tr.current-model {
    background-color: rgba(6, 90, 96, 0.1); }

/* line 1, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_links-button.scss */
a:link, a:visited {
  color: #c9c9c9; }

/* line 5, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_links-button.scss */
a.addlink {
  background: url("/static/admin/img/add.svg?307382e1095b");
  background-repeat: no-repeat;
  padding-left: 20px; }

/* line 7, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
div.app-projects.module caption {
  background-color: #0b525bff; }

/* line 10, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
div.app-projects.module table {
  color: #c9c9c9;
  background: #222831; }
  /* line 13, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
  div.app-projects.module table tr:nth-child(odd) {
    background: #393e46; }
  /* line 16, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
  div.app-projects.module table tr:nth-child(even) {
    background: #505762; }
  /* line 19, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/admin.scss */
  div.app-projects.module table th, div.app-projects.module table td {
    border-bottom-color: #393e46;
    color: #c9c9c9; }
