/* line 2, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_links-button.scss */
a:link, a:visited {
  color: #c9c9c9; }

/* line 34, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_links-button.scss */
.module .addlink {
  background: none;
  padding-left: 25px;
  position: relative; }
  /* line 10, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_links-button.scss */
  .module .addlink::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 25px;
    height: 100%;
    background-image: url("/static/admin/img/add.svg?816e87320fc9");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center left;
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(120%) contrast(97%); }
  /* line 25, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_links-button.scss */
  .module .addlink:hover::before {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(160%) contrast(97%); }

/* line 38, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_links-button.scss */
.module .changelink {
  background: none;
  padding-left: 25px;
  position: relative; }
  /* line 10, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_links-button.scss */
  .module .changelink::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 25px;
    height: 100%;
    background-image: url("/static/admin/img/pencil.svg?fdb73bb72364");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center left;
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(120%) contrast(97%); }
  /* line 25, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_links-button.scss */
  .module .changelink:hover::before {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(160%) contrast(97%); }

/* line 2, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
body {
  background: #222831; }

/* line 7, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
#header {
  height: 40px;
  background: #3e1f47ff;
  color: #000;
  box-shadow: 0 7px 2px -7px #0008 inset,  0 -7px 2px -7px #0008 inset; }

/* line 18, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
#branding h1 a:link, #branding h1 a:visited {
  color: #c9c9c9;
  font-weight: 800; }

/* line 25, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
#user-tools {
  color: white; }
  /* line 27, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
  #user-tools strong {
    margin-right: 10px; }
  /* line 31, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
  #user-tools a:hover {
    color: #353535; }

/* line 36, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_header.scss */
div.breadcrumbs {
  background-color: #272640ff; }

/* line 1, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_sidebar.scss */
#toggle-nav-sidebar {
  background: #222831;
  border: none;
  font-weight: 800; }
  /* line 5, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_sidebar.scss */
  #toggle-nav-sidebar:hover {
    color: #c9c9c9; }

/* line 10, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_sidebar.scss */
#nav-sidebar {
  background: #222831;
  padding-top: 65px;
  border: none;
  border-right: 1px solid #393e46; }
  /* line 16, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_sidebar.scss */
  #nav-sidebar tr.current-model {
    background-color: rgba(6, 90, 96, 0.1); }

/* line 2, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_content-related.scss */
#content-related {
  background: #393e46;
  border: 1px solid #1b3a4bff; }
  /* line 6, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_content-related.scss */
  #content-related .module h2, #content-related .module h3 {
    color: #c9c9c9; }
  /* line 9, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_content-related.scss */
  #content-related .module h2 {
    border-bottom-color: #1b3a4bff; }
  /* line 14, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_content-related.scss */
  #content-related .actionlist li {
    padding-left: 30px; }

/* line 2, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_content.scss */
#content h1 {
  color: #c9c9c9; }

/* line 3, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
form fieldset.module {
  color: #c9c9c9;
  background: transparent; }
  /* line 7, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form fieldset.module label {
    color: #c9c9c9; }
  /* line 11, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
  form fieldset.module input[type=text], form fieldset.module textarea {
    background: #393e46;
    color: #c9c9c9;
    outline: none;
    border-color: #144552ff; }
    /* line 16, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
    form fieldset.module input[type=text]:focus, form fieldset.module textarea:focus {
      border-color: #c13fc1; }

/* line 23, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_form.scss */
form .inline-group fieldset.module {
  display: flex;
  flex-wrap: wrap; }

/* line 2, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_app-table.scss */
div.module caption {
  background-color: #0b525bff; }

/* line 5, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_app-table.scss */
div.module table {
  color: #c9c9c9;
  background: #222831; }
  /* line 8, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_app-table.scss */
  div.module table tr:nth-child(odd) {
    background: #393e46; }
  /* line 11, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_app-table.scss */
  div.module table tr:nth-child(even) {
    background: #505762; }
  /* line 14, d:/projekty/apki/portfolio-cv/portfolio/static/admin/css/_app-table.scss */
  div.module table th, div.module table td {
    border-bottom-color: #393e46;
    color: #c9c9c9; }
