{% load webp_converter %}
<section class="projects" id="projects">
    <div class="l-container projects__container">
        <div class="l-row projects__row">
            <div class="l-col-xs-12">
                <vue-component>
                    <slider>
                        <slider-item>
                            <card-project title="DJ TRUCK 1" id="1" extended>
                                <template #gallery>
                                    <gallery>
                                        <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                        <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                        <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    </gallery>
                                </template>
                                <h4 class="card-project__subtitle">Digital dj software in browser</h4>
                                <p class="card-project__text">
                                    Online dj software allowing mixing tracks from external source
                                    like youtube or soundcloud and record and store gigs. Two channel
                                    mixer with three band equlization low and hi pass filters
                                    cue channel monitoring and build two channel
                                </p>
                                <template #additional>
                                    <ul class="card-project__technology-list">
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link js"> Javascript </a>
                                        </li>
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link react">
                                                React
                                            </a>
                                        </li>
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link express">
                                                Express
                                            </a>
                                        </li>
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link auth0">
                                                Auth0
                                            </a>
                                        </li>
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link postgresql">
                                                Postgresql
                                            </a>
                                        </li>
                                    </ul>
                                </template>
                            </card-project>
                        </slider-item>
                        <slider-item>
                            <card-project title="DJ TRUCK 2" id="2" extended>
                                <template #gallery>
                                    <gallery>
                                        <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                        <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                        <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    </gallery>
                                </template>
                                <h4 class="card-project__subtitle">Digital dj software in browser</h4>
                                <p class="card-project__text">
                                    Online dj software allowing mixing tracks from external source
                                    like youtube or soundcloud and record and store gigs. Two channel
                                    mixer with three band equlization low and hi pass filters
                                    cue channel monitoring and build two channel
                                </p>
                                <template #additional>
                                    <ul class="card-project__technology-list">
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link js"> Javascript </a>
                                        </li>
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link react">
                                                React
                                            </a>
                                        </li>
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link express">
                                                Express
                                            </a>
                                        </li>
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link auth0">
                                                Auth0
                                            </a>
                                        </li>
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link postgresql">
                                                Postgresql
                                            </a>
                                        </li>
                                    </ul>
                                </template>
                            </card-project>
                        </slider-item>
                        <slider-item tabindex="-1">
                            <card-project title="DJ TRUCK 3" id="3" extended>
                                <template #gallery>
                                    <gallery>
                                        <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                        <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                        <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    </gallery>
                                </template>
                                <h4 class="card-project__subtitle">Digital dj software in browser</h4>
                                <p class="card-project__text">
                                    Online dj software allowing mixing tracks from external source
                                    like youtube or soundcloud and record and store gigs. Two channel
                                    mixer with three band equlization low and hi pass filters
                                    cue channel monitoring and build two channel
                                </p>
                                <template #additional>
                                    <ul class="card-project__technology-list">
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link js"> Javascript </a>
                                        </li>
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link react">
                                                React
                                            </a>
                                        </li>
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link express">
                                                Express
                                            </a>
                                        </li>
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link auth0">
                                                Auth0
                                            </a>
                                        </li>
                                        <li class="card-project__technology-list__item">
                                            <a class="card-project__technology__link postgresql">
                                                Postgresql
                                            </a>
                                        </li>
                                    </ul>
                                </template>
                            </card-project>
                        </slider-item>
                    </slider>
                </vue-component>
            </div>
        </div>
        <div class="l-row projects__row">
            <div class="l-col-xs-12 flex-center">
                <button class="btn btn--all">See all</button>
            </div>
        </div>
    </div>
</section>