
body > header{
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
  z-index: 100;
  background: var(--color-background-primary);

  @include pseudo($position: fixed){
    @include scale-animation(1.5s, 1s, "horizontal", left);
    left: 0;
    top: 75px;
    width: 100vw;
    height: 1px;
    border-bottom: 1px solid var(--color-separator);
  }
  .l-row{
    justify-content: space-between;
    align-items: center;
    & > * {
      padding: 0;
    }
  }
}

@include media("xl"){
  body > header{
    &:after{ display: none; }
    height: 100px;
    //noinspection ALL
    .l-container{
      height: stretch;
      display: flex;
      align-items: flex-end;
      .l-row{
        justify-content: flex-end;
      }
    }
  }
}

//@media screen and (min-width: map-get($grid-breakpoints, "xl")){
//  body > header{
//    border-bottom: none;
//    height: 100px;
//    //noinspection ALL
//    .l-container{
//      height: stretch;
//      display: flex;
//      align-items: flex-end;
//      .l-row{
//        justify-content: flex-end;
//      }
//    }
//  }
//}
