appdirs==1.4.4
asgiref==3.3.1
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.5
django-appconf==1.0.4
django-compressor==2.4
django-compressor-toolkit==0.6.0
django-heroku==0.3.1
django-libsass==0.8
django-resized==0.3.11
django-solo==1.1.5
filelock==3.0.12
gunicorn==20.0.4
libsass==0.20.1
pbr==5.5.1
Pillow==8.1.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
python-dotenv==0.15.0
pytz==2020.5
rcssmin==1.0.6
rjsmin==1.1.0
six==1.15.0
sqlparse==0.4.1
stevedore==3.3.0
virtualenv==20.4.0
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.6
whitenoise==5.2.0
