<!DOCTYPE html>
{% load static pwa %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 maximum-scale=1"/>
<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' *herokuapp.com https://www.googletagmanager.com https://google-analytics.com *.cloudfront.net; object-src 'self'; img-src unsafe-inline *.cloudfront.net www.googletagmanager.com">
{% block meta %}
<title>Robert Kamiński</title>
{% endblock %}
{% block jsonltd %}{% endblock %}
{% block opengraph %}{% endblock %}
{% include "partial/tokens.html" %}
<link rel="icon" href="{% static '/img/favicon.ico' %}">
<link rel="manifest" href="/manifest.json">
{% block head %}{% endblock %}
{% block headscripts %}{% endblock %}
{% progressive_web_app_meta %}
{% include 'partial/analytics.html' %}
</head>
{% block body_tag %}
<body>
{% endblock %}
<noscript>
    <strong>We're sorry but page doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
{% block container %}
{% endblock %}
{% block scripts %}
{% endblock %}
</body>
</html>
