@use "@sass/abstracts/assets" as *;
@use "@sass/abstracts/mixins" as *;
@use "@sass/abstracts/placeholders";

.cv-configurator{
  &.modal{
    width: 90%;
    padding: 2rem 1rem 2rem;
    max-width: 1100px;
    max-height: unset;
    transition: max-width .2s;
    @include media('xsm'){
      padding: 3rem 2rem 2rem;
    }

    &.step--ident{
      max-width: 380px;
    }
    &.step--download{
      max-width: 360px;
      max-height: 300px;
      height: 250px;
    }

  }
  &__form-container{
    display: flex;
    justify-content: center;
    height: 100%;
    & > * {
      max-width: 310px;
    }
    h3{
      margin: 1rem 0 2.5rem 0;
    }
    label.floating input[type=text]{
      width: 100%;
    }
  }


  &__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &, & > * {
      height: 100%;
    }
  }

  h5{
    text-align: center;
    margin: .5rem;
  }

  &__colors{
    .color-profile{
      &:focus{
        outline: none;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      ul{
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        li {
          position: relative;
          height: 3rem;
          width: 3rem;
          margin: 0 .25rem;
        }
      }
      &__wrapper{
        border-top: 1px solid transparent;
        padding-top: .5rem;
      }

      &--current{
        .color-profile__wrapper{
          border-color: var(--color-pallet-primary);
        }
        .color-profile__name{
          color: var(--color-pallet-primary)
        }
      }

      &__name{
        text-align: center;
        text-transform: uppercase;
        margin: .5rem;
      }
      &__color{
        height: 3rem;
        width: 3rem;
        background: var(--color);
        position: absolute;
        top: 0;
        left: 0;

        &:last-of-type{
          height: 1rem;
          top: unset;
          bottom: 0;
        }
      }
    }
  }

  &__btn{
    &-container{
      display: flex;
      justify-content: center;
      margin: 2rem 0 1rem 0;
    }
  }

  &__tpl{
    &:focus{
      outline: none;
    }
    h5{
      text-transform: uppercase;
    }

    &-wrapper{
      width: 250px;
    }
    border-bottom: 1px solid transparent;
    &--current{
      border-color: var(--color-pallet-primary);
      h5{
        color: var(--color-pallet-primary)
      }
    }
    max-width: 300px;
    display: grid;
    place-items: center;
  }

  &__button-wrapper{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__spinner-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__preloader{
    height: 100%;
    .btn{
      @extend .icon-button;
      @include svg-pseudo($book-open-svg, var(--color-text-primary),var(--color-pallet-secondary));
      @include pseudo-content(){ bottom: 2.5rem;}
      &--download:after{
        mask-image: $file-download;
      }
    }
  }
  &__sad-smile{
    &-wrapper{
      height: 100%;
      width: 100%;
      display: grid;
      place-items: center;
    }
    width: 5rem;
    height: 5rem;
    @include svg-mask($sad-svg, var(--color-pallet-warning),  var(--color-pallet-warning))
  }
}