@use "@sass/abstracts/variables" as *;
@use "@sass/abstracts/mixins" as *;

input, textarea{
  font-size: 1rem;
  background: transparent;
  color: var(--color-text-primary);
  border: none;
  border-bottom: 1px solid var(--color-pallet-primary);
  padding: 6px 12px;
  outline: none;
  &:hover,
  &:focus,
  &:hover:focus{
    outline: none;
    border-color: var(--color-pallet-secondary);
  }

  &:after{
    content: attr(aria-label);
    display: block;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus{
    border-bottom: 1px solid var(--color-pallet-secondary);
    -webkit-text-fill-color: var(--color-text-primary);
    font-size: 1em;
    transition: background-color 5000000s ease-in-out 0s;
  }
  &:-webkit-autofill:hover{
    border-bottom: 1px solid var(--color-pallet-secondary);
  }
}

textarea{
  border-bottom: none;
  border-left: 1px solid var(--color-pallet-primary);
  resize: none;
}

@mixin error-message(){
  color: var(--color-pallet-warning);
  min-height: 1.4em;
  font-size: 0.875em;
  &:first-letter{
    text-transform: uppercase;
  }
}


label.floating{
  box-sizing: border-box;
  display: table;
  position: relative;
  margin: 2em 0;
  height: 2em;
  //noinspection CssInvalidPropertyValue
  width: stretch;
  input[type='text'],
  input[type='email'],
  textarea{
    position: relative;
    padding-left: 1.5em;
    top: .7em;
    left: 0;
    width: calc(100% - 1.0em)
  }

  textarea {
    top: 2.3em;
    @include scrollTight(
                    var(--color-pallet-primary),
                    var(--color-text-primary),
                    var(--color-text-primary),
                    10px
    );
    &:hover, &:focus{
      @include scrollTight(
                      var(--color-pallet-secondary),
                      var(--color-text-primary),
                      var(--color-text-primary),
                      10px
      );
    }
  }

  input + span,
  textarea + span{
    left: 1.5em;
  }

  span{
    position: absolute;
    &:first-letter{
      text-transform: uppercase;
    }
    left: 4em;
    top: 1em;
    font-size: 1em;
    letter-spacing: .5px;
    pointer-events: none;
  }

  textarea + span{
    top: 2.7em;
  }

  input:not(:placeholder-shown) + span,
  textarea:not(:placeholder-shown) + span{
    color: var(--color-pallet-primary);
    font-size: 0.875rem;
    top: -1em;
    left: 0;
    right: unset;
  }

  input:not(:placeholder-shown):hover + span,
  input:not(:placeholder-shown):focus + span,
  input:-webkit-autofill + span,
  textarea:not(:placeholder-shown):hover + span,
  textarea:not(:placeholder-shown):focus + span {
    color: var(--color-pallet-secondary)
  }

  p{
    @include error-message();
  }

  input ~ p {
    margin-top: 1.5em;
  }

  textarea ~ p {
    margin-top: 3rem;
  }

}


@include media('sm'){
  $indent: $paragraph-indent;
  label.floating:not(.no-ident){
    textarea, input{
      left: $indent;
      width: calc(100% - #{$indent});
    }

    input + span,
    textarea + span{
      left: calc(#{$indent} + 1.5em);
    }

    input:not(:placeholder-shown) + span,
    textarea:not(:placeholder-shown) + span{
      left: unset;
      right: calc(100% - #{$indent});
      top: 0;
    }
    p{
      margin: 1.5em 0 0 #{$indent};
    }
    textarea ~ p {
      margin-top: 3rem;
    }
  }
}



.checkbox{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  &__input{
    appearance: none;
    border: none;
    outline: none;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    padding: 0;
    display: block;

    &:checked + div{
      background: var(--color-pallet-primary);
    }
    &:focus + div {
      border-color: var(--color-pallet-secondary)
    }
    &:focus:checked + div {
      background: var(--color-pallet-primary);
      border-color: var(--color-pallet-secondary)
    }
  }
  &__input-wrapper{
    position: relative;
    width: 1rem;
    height: 1rem;
  }
  &__box{
    @include stretch();
    border: 1px solid var(--color-pallet-primary);
    border-radius: 20%;
  }

  & + p[class*='validation-message'] {
    @include error-message();
    margin: 1rem 0 0 0;
  }
}
