@use '@sass/components/button' as *;

a, a:link, a:visited{
  color: var(--color-text-secondary);
  text-decoration: none;
  font-family: "Source Sans Pro", "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
  &:hover{
    color: var(--color-pallet-secondary);
  }
  &.link--secondary{
    color: var(--color-text-secondary);
    &:hover{
      color: var(--color-text-primary);
    }
  }
  &:focus,
  &:active,
  &:focus:active{
    outline-color: var(--color-pallet-secondary);
    outline-style: solid;
    outline-offset: 0.3em;
  }
  &.link-btn{
    @extend .btn;
    &:hover{
      color: var(--color-text-primary)
    }

  }
}
