@use "@sass/abstracts/mixins" as *;
@use "@sass/abstracts/assets" as *;
@use "@sass/abstracts/animations" as *;

.navigation {
  $self: &;

  &__wrapper--main{
    margin-left: auto;
    min-height: 52px;
    max-width: 54px;
  }

  &--main{
    position: relative;
    display: flex;
    justify-content: flex-end;
    #{$self}__btn--burger{

    }

    #{$self}__container{
      display: block;
      position: fixed;
      top:77px;
      left: 0;
      height: 100%;
      width: 100%;
      background: var(--color-background-primary);
      @include stacking('overlay');
      &--collapsed{
        display: none;
      }
    }

    #{$self}__btn{
      border-radius: 0;
      padding: 0;
      @include svgMask(
          $burger-svg,
          var(--color-pallet-primary),
          var(--color-pallet-secondary),
          54px,
          50px
      );
      &:hover {
        background-color: var(--color-pallet-secondary);
      }
      &[aria-expanded="true"]{
        mask-image: $cross-svg;
      }
      @include show-in-animation(2s, .5s);
    }

    #{$self}__list{
      list-style: none;
      margin-top: 50px;
      margin-left: 40px;
    }
    #{$self}__item{
      margin-top: 45px;
      &__link{
        color: var(--color-text-primary);
        font-size: 1.5rem;
        font-family: "Source Sans Pro", "Roboto" ,sans-serif;
      }
    }
  }
}

@include media("xl"){
  .navigation{
    $self: &;
    &__wrapper--main{
      min-width: 30vw;
      min-height: 32px;
    }
    &--main{
      #{$self}__btn{
        display: none;
      }
      #{$self}__list{
        display: flex;
        margin: 0;
      }
      #{$self}__item{
        &:not(:first-of-type){
          margin-left: 60px;
        }
        margin-top: unset;
        &__link{
          font-weight: normal;
        }
      }
      #{$self}__container{
        display: block;
        position: relative;
        top: unset;
        left: unset;
        height: unset;
        width: unset;
      }
    }
  }
}