@use "sass:selector";
@use "@sass/abstracts/mixins" as *;
@use "@sass/abstracts/assets" as *;
@use "@sass/abstracts/animations" as *;

.navigation {
  $self: &;
  &__wrapper--aside{
    position: absolute;
  }

  &__list {
    list-style: none;
  }

  &--aside {
    & #{$self}__list {
      display: flex;
      align-items: center;
      max-height: 500px;
    }

    #{$self}__container{
      display: flex;
    }

    //#{$self}__item{
    //  opacity: 0;
    //  @include opacity-keyframes();
    //  @include animation(opacity, 0s, .5s);
    //  @at-root #{selector.unify(&, div)}{
    //    &:first-of-type{
    //      animation-delay: 1s;
    //    }
    //    &:last-of-type{
    //      animation-delay: 2s;
    //    }
    //  }
    //  @for $i from 1 through 10 {
    //    @at-root #{selector.unify(&, li)}{
    //      &:nth-of-type(#{$i}){
    //        animation-delay: calc(1s + .15s * #{$i});
    //      }
    //    }
    //  }
    //}

    #{$self}__home{
      font-size: 2em;
      font-weight: 500;
    }

    #{$self}__list-item {
      counter-increment: navigation;
      font-size: 1.125em;
      margin-left: 25px;

      &__link {
        white-space: nowrap;
      }

      &__counter {
        color: var(--color-pallet-primary)
      }

      &__content {
        white-space: nowrap;
        margin: 0 6px;
      }

      &--current{
        & #{$self}__list-item__counter{
          color: var(--color-text-primary)
        }
      }

      &:not(&--current) {
        display: none;
      }
    }

    #{$self}__fast-scroll {
      width: 100%;
      display: none;
      justify-content: center;
      margin-top: auto;
      margin-bottom: auto;
      &__btn{
        border: none;
        background: var(--color-text-primary);
        padding:0;
        @include svgMask(
            $arrow-up-svg,
            var(--color-text-primary),
            var(--color-pallet-primary),
            15px,
            25px
        );
        transition: transform .5s;
        &--down{
          transform: rotate(180deg);
        }
      }
    }

    #{$self}__progress{
      display: none;
      $barWidth: 2px;
      $thumbWidth: 12px;
      $thumbHeight: 55px;
      position: absolute;
      width: $barWidth;
      height: 100%;
      top: 0;
      left: 100%;
      @include pseudo($position: "relative"){
        @include scale-vertical-keyframes();
        @include animation(scale-vertical, 1s, 1.4s);
        background: var(--color-separator);
        width: 100%;
        height: 100%;
      }
      &__thumb{
        width: $thumbWidth;
        height: $thumbHeight;
        position: absolute;
        top:0;
        left: -($thumbWidth - $barWidth) / 2;
        background: white;
        transition: transform .5s;
        z-index: 1;
        @include no-motion(){
          transition: none;
        }
      }
    }
  }

  @include media("sm", max){
    &--aside{
      #{$self}__container{
        @include show-in-animation(1.5s, 1s)
      }
    }
  }



  @include media("sm"){
    &--aside{
      #{$self}__list-item {
        display: block;
        &:not(&--current) {
          display: block;
        }

        &:not(&--current) {
          display: block;
          & #{$self}__list-item__content {
            display: none;
          }
        }
      }
      #{$self}__item{
        @include show-in-animation(0s, .5s);
        @at-root #{selector.unify(&, div)}{
          &:first-of-type{
            animation-delay: 1s;
          }
          &:last-of-type{
            animation-delay: 2s;
          }
        }
        @for $i from 1 through 10 {
          @at-root #{selector.unify(&, li)}{
            &:nth-of-type(#{$i}){
              animation-delay: calc(1s + .15s * #{$i});
            }
          }
        }
      }
    }
  }

  @include media("xl"){
    $self: &;
    &--aside{
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 140px;

      #{$self}__progress{
        display: block;
      }

      #{$self}__home{
        font-size: 2em;
        font-weight: 500;
        margin-top: 50px;
        margin-bottom: auto;
        width: 100%;
        text-align: center;
      }

      #{$self}__container{
        height: 100%;
        flex-direction: column;
      }

      & #{$self}__list {
        flex-direction: column;
        align-items: center;
        height: 80%;
        justify-content: space-around;
      }

      #{$self}__list-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 100%;

        &:not(&--current) {
          display: flex;
          & #{$self}__item__content {
            display: none;
          }
        }
        a {
          &:focus,
          &:active:focus{
            outline: none;
            &, & > * {
              color: var(--color-text-primary)
            }
          }
        }

        &__content,
        &__counter{
          display: block;
          width: 100%;
          text-align: center;
        }

        &__content{
          margin-top: 15px;
          margin-left: 0;
        }
      }
      #{$self}__fast-scroll {
        display: flex;
        margin-top: auto;
        margin-bottom: 40px;
      }
    }
  }
}