@use "@sass/abstracts/mixins" as *;
@use "@sass/abstracts/assets" as *;



.simple-slider{
  width: 100%;
  margin: .5rem 0 1rem 0;
  position: relative;
  @include media('sm'){margin: .5rem 0 1rem 0;}
  @include media('lg'){margin: 1rem 0 1.5rem 0;}
  @include media('xxl'){margin: 1.5rem 0 2rem 0;}

  &__container{
    margin: 0 auto;
    overflow: hidden;
    @include media('lg'){
      width: calc(100% - 6rem);
    }
  }
  &__slides{
    display: flex;
    justify-content: space-around;
    transition: transform .5s ease 0s;
    will-change: transform;
    padding-bottom: 5px;
    padding-top: 2px;
    & > * {
      width: var(--slide-width);
    }
  }
  &__controls{
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    justify-content: space-between;
    pointer-events: none;
    button{
      pointer-events: all;
    }
    @include media('lg'){
      display: flex;
    }
    .btn{
      border: none;
      &:disabled{
        cursor: not-allowed;
      }
      &:focus{
        outline: 1px solid var(--color-pallet-primary);
        outline-offset: .3em;
      }
      @include pseudo('before'){
        top: -1rem;
        bottom: -1rem;
      }
      &--prev{
        @include svg-pseudo($arrow-svg, var(--color-pallet-primary), var(--color-pallet-secondary), 0);
        transform: rotate(180deg);
      }
      &--next{
        @include svg-pseudo($arrow-svg, var(--color-pallet-primary), var(--color-pallet-secondary), 0);
      }
    }
  }
}