:root{
  //--color-primary: hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l));
  //--color-primary-light: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) + 10%));
  //--color-secondary: hsl(var(--color-secondary-h), var(--color-secondary-s), var(--color-secondary-l));
  //
  //--color-background: hsl(var(--color-background-h), var(--color-background-s), var(--color-background-l));
  //--color-text-primary: hsl(var(--color-text-primary-h), var(--color-text-primary-s), var(--color-text-primary-l));
  //--color-text-primary-alpha-5: hsla(var(--color-text-primary-h), var(--color-text-primary-s), var(--color-text-primary-l), .5);
  //--color-text-primary-focus: hsl(var(--color-text-primary-focus-h), var(--color-text-primary-focus-s),  var(--color-text-primary-focus-l));
  //--color-text-secondary: hsl(var(--color-text-secondary-h), var(--color-text-secondary-s), var(--color-text-secondary-l));
}


@mixin background-gradient($angle, $from, $to, $color-slug){
  background: linear-gradient(
      $angle,
      hsl(var(--color-#{$color-slug}-h), var(--color-#{$color-slug}-s), calc(var(--color-#{$color-slug}-l) + #{$from})) 13%,
      hsl(var(--color-#{$color-slug}-h), var(--color-#{$color-slug}-s), calc(var(--color-#{$color-slug}-l) + #{$to}))  90%
  );
}

@mixin horizontal-gradient($from: 10%, $to: 0%, $color-slug: 'primary'){
  @include background-gradient(90deg, $from, $to, $color-slug)
}

@mixin vertical-gradient($from: 10%, $to: 0%, $color-slug: 'primary'){
  @include background-gradient(0deg, $from, $to, $color-slug)
}

@mixin icon($url, $color: var(--color-text-primary)){
  padding: 0;
  display: inline-block;
  width: 1.1em;
  height: 1em;
  transform: translate(-.1em, .2em);
  margin: 1px .3cm 1px 0.01cm;
  line-height: 1em;
  background: $color;
  mask-image: $url;
  -webkit-mask-image: $url;
  mask-repeat: no-repeat;
  mask-size: contain;
  box-sizing: border-box;
}

@mixin icon-before($url, $color){
  &:before{
    content: "";
    @include icon($url, $color)
  }
}

@mixin time-separator($separator){
  time:first-of-type:after{
    content: $separator;
    display: inline-block;
    margin: 0 .25rem;
  }
}

@page {
  size: A4;
  margin: 0 0 0 0;
}

html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}



$calendar-white-svg: url("@/assets/img/pdf/calendar.svg");
$calendar-gray-svg: url("@/assets/img/pdf/calendar-gray.svg");
$envelope-white-svg: url("@/assets/img/pdf/envelope-white.svg");
$marker-white-svg: url("@/assets/img/pdf/marker-white.svg");
$marker-grey-svg: url("@/assets/img/pdf/marker-grey.svg");
$phone-white-svg: url("@/assets/img/pdf/phone-white.svg");
$user-white-svg: url("@/assets/img/pdf/user.svg");
$briefcase-grey-svg: url("@/assets/img/pdf/briefcase-grey.svg");
$book-gray-svg: url("@/assets/img/pdf/book-gray.svg");
$trophy-gray-svg: url("@/assets/img/pdf/trophy-grey.svg");
$graduation-grey-svg: url("@/assets/img/pdf/graduation-grey.svg");
$star-grey-svg: url("@/assets/img/pdf/star-gray.svg");
$flask-grey-svg: url("@/assets/img/pdf/flask-gray.svg");
$language-grey-svg: url("@/assets/img/pdf/language-grey.svg");
$globe-americas-gray-svg: url("@/assets/img/pdf/globe-americas-gray.svg");
$calendar-white-svg: url("@/assets/img/pdf/calendar-white.svg");
$envelope-white-svg: url("@/assets/img/pdf/envelope-white.svg");
$floppy-disk-svg: url("@/assets/img/pdf/floppy-disk-2.svg");
$cross-svg: url("@/assets/img/pdf/cross.svg");
$arrow-right-svg: url("@/assets/img/pdf/right-arrow.svg");
$linkedin-svg: url("@/assets/img/pdf/linkedin.svg");
$info-svg: url("@/assets/img/pdf/info.svg");
$tick-mark-svg: url("@/assets/img/pdf/tick-mark.svg");

