@use "@sass/abstracts/mixins" as *;
@use "@sass/pdf/common" as *;
@import url("https://use.typekit.net/hxh5kag.css");

body {
  background: var(--color-background);
  box-sizing: border-box;
  font-family: kanit, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

p, li, h5, h6{
  font-size: .85rem;
  line-height: 1rem;
  font-weight: 300;
  font-family: kanit, sans-serif;
  margin: 0.4em 0;
}
h1, h2, h3, h4 {
  //font-family: myriad-pro, sans-serif;
  margin: 0.4em 0;
}

h3.section__title {
  font-size: 1.3rem;
  word-spacing: -.2em;
  letter-spacing: 0.05em;
  font-weight: 500;
  margin: .75em 0;
  text-transform: uppercase;
  font-family: kanit, sans-serif;
}

h4 {
  font-size: 1.5rem;
}

header{
  position: fixed;
  left: 0;
  top: 1cm;
  width: 8cm;
  height: 4.5cm;
  background: var(--color-primary);
  font-family: kanit, sans-serif;
  padding: 1cm;
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3{
    margin: 0;
    font-size: 3.25rem;
    font-weight: 500;
    line-height: 3.5rem;
    text-transform: uppercase;
    overflow-wrap: anywhere;
    letter-spacing: 2px;
    font-family: myriad-pro, sans-serif;
  }
  h4{
    margin: 0;
    font-size: 2rem;
    white-space: nowrap;
    font-weight: 400;
  }
}

.container{
  margin: 1cm .5cm;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 9.5cm auto;
  grid-template-rows: 1fr;
  .col{
    padding: .5cm;
    &:first-of-type{
      margin-top: 7.25cm;
      background: var(--color-secondary);
      color: var(--color-text-secondary);
      height: 20cm;
      h1, h2, h3 {
        color: var(--color-background);
      }
    }
    &:last-of-type{
      height: 27.25cm;
      color: var(--color-text);
      h1, h2, h3 {
        color: var(--color-text-focus);
      }
    }
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.strengths{
  ul, ol {
    list-style-type: disc;
    padding-left: 1rem;
  }
}

.contact{
  ul, ol {
    list-style: none;
    padding: 0;
  }
  .contact__portfolio{
    color: var(--color-background)
  }
}

.technologies {
  ul, ol {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1px;
    li {
      padding: .3em .4em;
      margin: .2em .4em .2em 0;
      font-size: 1.1em;
      min-width: 2.5em;
      text-align: center;
      border: solid 1px var(--color-text);
    }
  }
}

.education, .experience, .technologies{
  & > ul,
  & > ol {
    list-style: none;
    padding: 0;
  }
}

.experience{
  & > ul > li {
      padding-bottom: .5rem;
  }
  .job__desc{
    ul, ol {
      padding-left: 1.25rem;
    }
  }
  .job__position{
    text-transform: uppercase;
  }
  .job__company:after{
    content: "|";
    display: inline-block;
    margin: 0 .5em;
  }
  .job__period{
    @include time-separator('-')
  }
}

.education{
  &__list{
    &-item{
      margin-bottom: 1.25rem;
    }
  }
  .school{
    &__field,
    &__name{
      font-size: 1.1rem;
      line-height: 1.1em;
      font-weight: 600;
      margin: .2em 0;
    }
    &__name{
      font-weight: 600;
      text-transform: uppercase;
    }
    &__period{
      @include time-separator('-');
    }
  }
}