@use "@sass/abstracts/mixins" as *;
@use "@sass/pdf/common" as *;

@import url("https://use.typekit.net/pyt0iql.css");

* {
  margin: 0;
  padding: 0;
  font-family: yantramanav, sans-serif;
  box-sizing: border-box;
}

:root{
  font-size: 15px;
}

body{
  display: grid;
  grid-template-columns: 6.5cm auto;
  grid-template-rows: auto;
  height: 100%;
  color: var(--color-text);
  background: var(--color-background);
}

aside, main {
  max-height: 100%;
  overflow: hidden;
  padding: 1cm;
}


aside{
  height: 100%;
  width: 100%;
  max-width: 6.5cm;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-text);
}
main{
  display: flex;
  flex-direction: column;
  padding-bottom: 2cm;
  .section{
    padding-top: .5cm;
    &:first-of-type{
      padding-top: 2cm;
    }
  }
}

.section.photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section{
  &:not(.photo):not(:last-of-type){
    border-bottom: 1px solid var(--color-text-alpha-5);
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &__title{
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: .75rem;
    letter-spacing: 1px;
    color: var(--color-primary);
  }

  &.contact{
    ul, ol {
      list-style: none;
    }
  }

}

.personal{
  &__full-name{
    font-size: 3rem;
    line-height: 3rem;
    margin: 1rem 0;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__photo{
    width: 5cm;
    height: 5cm;
    border-radius: 50%;
    margin: 1.5cm -1cm;
    object-fit: contain;
  }
  &__profession{
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.contact{
  $icons: (
    'number': $phone-white-svg,
    'address': $marker-grey-svg,
    'email': $envelope-white-svg,
    'linkedin': $linkedin-svg,
    'portfolio': $globe-americas-gray-svg,
  );
  @each $selector, $icon in $icons{
    &__#{$selector}{
      @include icon-before($icon, var(--color-text));
      &:before{
        margin-right: .4em;
      }
    }
  }
  &__list-item {
    padding-left: 1.30rem;
    text-indent: -1.30rem;
    margin: .5rem 0;
    font-size: .9rem;
  }
  &__linkedin{
    white-space: nowrap;
  }
}

.education{
  &__list{
    list-style: none;
    &-item:not(:last-of-type){
      margin-bottom: 1.25rem;
    }
    * {
      margin: 0.35rem 0;
    }
    h3, h6{
      font-size: 1em;
      font-weight: 400;
    }
  }
  .school{
    &__field{
      font-size: 1.1rem;
      color: var(--color-text-focus);
    }
    &__period{
      @include time-separator('-')
    }
  }
}

.strengths{
  ul, ol {
    list-style: none;
    li {
      margin: 0.4rem 0;
    }
  }
}

.skills{
  .language{
    margin: .5rem 0;
  }
  .technologies{
    ul, ol {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      li{
        font-size: 1em;
        padding: .2em .5em;
        margin: .4em .4em .4em 0;
        border: 1px solid var(--color-primary);
        border-bottom-width: 3px;
        min-width: 3em;
        text-align: center;
      }
    }
  }
}

.experience{
  &__list{
    list-style: none;
    ul, ol {
      padding-left: 1.25rem;
    }
    &-item{
      margin-bottom: 1.5rem;
    }
  }
  h3{
    font-size: 1.35rem;
  }
  h6 {
    font-size: 1rem;
    margin: .4em 0;
  }
  .job{
    &__desc{
      margin-top: .3rem;
    }
    &__position{
      margin-top: 1rem;
    }
    &__company::after{
      content: "|";
      margin: 0 .5em;
    }
    &__period{
      font-weight: 400;
      @include time-separator('-')
    }
  }
}

.agreements{
  position: fixed;
  bottom: .5cm;
  width: 10cm;
  p {
    font-size: .75rem;
    color: var(--color-text);
    @include icon-before($info-svg, var(--color-text));
    &::before{
      margin-right: .25em;
    }
  }
}