@use "@sass/abstracts/mixins" as *;
@use "@sass/pdf/common" as *;

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Merriweather+Sans:wght@300;500;700;800&family=Raleway:wght@200;400;800&display=swap" rel="stylesheet');

$font-archivo: 'Archivo Black', sans-serif;
$font-merriweather: 'Merriweather Sans', sans-serif;
$font-raleway: 'Raleway', sans-serif;

@mixin icon-s($url,$color){
  @include icon($url, $color);
  margin-right:.1cm;
}

html{
  * {
    font-family: $font-raleway;
    letter-spacing: 0;
  }
  font-size: 16px;
}
body {
  background: var(--color-background);
  overflow: hidden;
}

p, li {
  color: #6c6c6c
}

h3{
  color: var(--color-text-focus);
  margin: .5em 0;
  text-transform: uppercase;
}
h4 {
  margin: .25rem 0;
}
h6{
  font-size: .7rem;
  margin: 0;
  text-transform: uppercase;
  font-family: $font-merriweather;
  color: var(--color-text);
  * > {
    margin-right: 1rem;
  }
}

p{
  margin: .5em 0;
  color: var(--color-text);
  line-height: 1.15em;
}
ul, ol{
  padding: 0 1em;
  margin: 0;
  color: var(--color-text);
  li {
    margin: 0 0 .5em 0;
    color: var(--color-text);
  }
}


header{
  top: 0;
  left: 0;
  width: 100%;
  height: 5cm;
  padding: .5cm .3in 0 1.25cm;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  @include horizontal-gradient(10%, -5%);
  & > * {
    color: var(--color-text-primary);
  }
}
.personal {
  &__position{
    font-family: $font-raleway;
    font-weight: 600;
    font-size: 2.3rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  &__name{
    font-family: $font-raleway;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 1.25rem 0;
    text-transform: uppercase;
  }
  &__link {
    position: absolute;
    top: .5cm;
    right: 3cm;
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: var(--color-text-primary-focus);
  }
  &__birthday:before {
    content: "";
    @include icon-s($calendar-white-svg, var(--color-text-primary));
    width: 1.3em;
  }
}

.contact{
  &__list{
    list-style: none;
    margin: 2rem 0 1rem 0;
    padding: 0;
    color: var(--color-text-primary-focus);
    font-family: $font-raleway;
    font-size: .8rem;
    li{
      display: inline-block;
      margin: 0 1em 1em 0;
      span{
        color: var(--color-text-primary-focus);
        font-family: $font-merriweather
      }
    }
  }

  $icons:(
    'address': $marker-white-svg,
    'number': $phone-white-svg,
    'email': $envelope-white-svg,
  );
  @each $part, $icon in $icons{
    &__#{$part}::before {
      content:"";
      @include icon-s($icon,  var(--color-text-primary-focus));
    }
  }
}


main {
  .container{
    padding: 0 .4in 0cm 1.25cm;
    padding-bottom: 5rem;
    margin-bottom: 4rem;
    max-height: 24.5cm;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
  }
}

.section{
  &__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: left;
    text-transform: uppercase;
    color: var(--color-text-focus);
    margin-bottom: 1rem;
    margin-top: 0;
    break-after: avoid-column;
  }
  &__text{
    color: var(--color-text);
  }
  margin-bottom: 1.25rem;
}

.summary{
  p{
    margin: .2rem 0;
  }
  ol, ul{
    padding-right: 1rem;
    margin: .5em 0 0;
  }
}

.experience{
  font-size: 15px;
  &__list{
    padding: 0;
    list-style: none;
    &-item{
      margin-bottom: 1.25rem;
      break-inside: avoid;
    }
  }
  .job{
    &__detail {
      break-inside: avoid;
    }
    &__period{
      @include time-separator("-");
      @include icon-before($briefcase-grey-svg, var(--color-text)){
        margin-right: .25rem;
      };

    }
    &__address{
      margin-left: 1rem;
      @include icon-before($marker-grey-svg,  var(--color-text)){
        width: .8em;
        margin-right: .25rem;
      }
    }
    &__position{
      color: var(--color-text-focus);
    }
    &__company{
      margin: 0;
    }
  }
}


.education{
  break-inside: avoid;
  &__list{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .school__period{
    @include time-separator("-");
    &::before{
      content:"";
      @include icon-s($book-gray-svg,  var(--color-text));
    }
  }
}

.skills{
  &__group{
    margin-bottom: 1rem;
  }
  .language{
    font-weight: 600;
    &__name:after{
      content: "  -  ";
      display: inline;
    }
  }

  .technologies{
    ul, ol {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }
    li {
      padding: 0.3em 0.6em;
      margin: .2em .6em .2em 0;
      background: var(--color-secondary);
      color: var(--color-text-secondary);
      display: inline-block;
    }
  }
}
.strengths{
  h3{
    break-after: avoid;
    margin-bottom: 0;
  }
  ul, ol {
    list-style: none;
    padding: 0;
    margin: 1em 0 0 0;
  }
  li {
    padding: 0.3em 0.6em;
    margin: .2em .6em .2em 0;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    display: inline-block;
  }
}

.agreements{
  position: fixed;
  bottom: -.5cm;
  color: var(--color-text);
  font-size: .75rem;
  opacity: .9;
  p{
    color: var(--color-text);
    @include icon-before($info-svg, var(--color-text)){
      margin-right: .05em;
    }
  }
}