{% extends "base_page.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block head %}
{{ block.super }}
<link href="{% static 'front/css/index.css' %}" rel="stylesheet" type="text/css"/>
{% render_bundle 'main' 'css' %}
{% endblock %}


{% block content %}
    {% include "partial-index/header.html" %}
    {% include "partial-index/section-intro.html" %}
    {% include "partial-index/section-welcome.html" %}
    {% include "partial-index/section-stack.html" %}
    {% include "partial-index/section-projects.html" %}
    {% include "partial-index/section-about.html" %}
    {% include "partial-index/section-contact.html" %}
    {% include "partial-index/footer.html" %}
{% endblock %}

{% block scripts %}
{% render_bundle 'chunk-vendors' %}
{% render_bundle 'main' 'js' %}
<script src="{% static 'front/js/index.js' %}"></script>
{% endblock %}
