<section class="projects-filters">
    <div class="l-container">
        <div class="l-row">
            <div class="l-col-xs-12 projects-filters__container">
                <div class="projects-filters__item">
                    <div class="projects__filter dropdown__wrapper dropdown__wrapper--filter">
                        <vue-component>
                            <projects-filter label="Filter" param="type">
                                {% for type in project_types %}
                                <select-item value="{{type.value}}"> {{type.display}} </select-item>
                                {% endfor %}
                            </projects-filter>
                        </vue-component>
                    </div>
                </div>
                <div class="projects-filters__item">
                    <div class="projects__filter dropdown__wrapper dropdown__wrapper--order">
                        <vue-component>
                            <projects-order label="Order" param="order">
                                {% for type in project_ordering %}
                                    <select-item value="{{type.value}}">
                                        {{type.text}} <span class="dropdown__text--right">{{type.text_type}}</span>
                                    </select-item>
                                {% endfor %}
                            </projects-order>
                        </vue-component>
                    </div>
                </div>
                <div class="projects-filters__item">
                    <div class="projects__filter projects__filter--search">
                        <vue-component>
                            <projects-search lable="Search" param="search"/>
                        </vue-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



