div.calendarbox.module{
    border-color: $charcoal;
    background: transparent;;
    .calendar{
        table{
            caption{
                background: $midnight-green-eagle-green-2;
                color: $color-text;
            }
            tr, th, td, tbody, td.nonday{
                background: $color-bg-primary;
                border: none;
                & > a {
                    color: $color-text;
                    &:hover{
                        background: $skobeloff;
                    }
                }
            }
            tr:first-of-type{
                border-bottom: 1px solid $color-separator-2;
            }
        }
    }
    
    div.calendar-shortcuts{
        background: $color-bg-primary;
    }

    p.calendar-cancel{
        background: $midnight-green-eagle-green-2;
        color: $color-text;
    }
}
