

#changelist form#changelist-form{
    .actions{
        color: var(--color-text);
        background: var(--color-pallet-9);
        width: auto;
        border-bottom-color: var(--color-separator);
        select{
            //ackground: var(--color-bg-secondary);
            color: var(--color-text);
            outline: none;
          //  border-color: var(--color-pallet-4);
            &:focus{
                border-color: var(--color-pallet-9-light);
            }
        }
    }
    
    div.results table{
        thead {
            tr, tr > th , tr > td{
                background: var(--color-pallet-8);
                color: var(--color-text);
                border-bottom-color: var(--color-separator);
                border-top-color: var(--color-separator-2);
            }
            tr > th > div.text > a:hover{
                background: var(--color-pallet-9);
                color: white;
            }
        }
        tbody{
            tr:nth-child(odd){
                &, & > td { 
                    background-color: transparent;
                }
            }
            tr:nth-child(even){
                &, & > td, & > th { 
                    background-color: #fff1;
                }
            }
            tr > th, tr > td {
                border-bottom-color: var(--color-separator);
            }
        }
    }

    p.paginator{
        width: auto;
        background: var(--color-bg-primary);
        border-bottom: none;
        border-color: var(--color-separator-3);
        color: var(--color-text);
    }
}