

#changelist form#changelist-form{
    .actions{
        color: $color-text;
        background: $russian-violet;
        width: auto;
        border-bottom-color: $color-separator;
        select{
            //ackground: $color-bg-secondary;
            color: $color-text;
            outline: none;
          //  border-color: $midnight-green-eagle-green-3;
            &:focus{
                border-color: lighten($russian-violet-2, 30%);
            }
        }
    }
    
    div.results table{
        thead {
            tr, tr > th , tr > td{
                background: $dark-purple;
                color: $color-text;
                border-bottom-color: $color-separator;
                border-top-color: $color-separator-2;
            }
            tr > th > div.text > a:hover{
                background: $russian-violet-2;
                color: white;
            }
        }
        tbody{
            tr:nth-child(odd){
                &, & > td { 
                    background-color: transparent;
                }
            }
            tr:nth-child(even){
                &, & > td, & > th { 
                    background-color: #fff1;
                }
            }
            tr > th, tr > td {
                border-bottom-color: $color-separator;
            }
        }
    }

    p.paginator{
        width: auto;
        background: $color-bg-primary;
        border-bottom: none;
        border-color: $color-separator-3;
        color: $color-text;
    }
}