
#content-related{
    background: var(--color-bg-secondary);
    border: 1px solid var(--color-pallet-5);
    .module{
        h2, h3{
            color: var(--color-text);
        }
        h2{
            border-bottom-color: var(--color-pallet-5);
        }
    }
    .actionlist{
        li{
            padding-left: 30px;
        }
    }
}