@import "./calendar-widget";

@mixin addButton() {
    @include link--icon-background-before('./../../img/add.svg', $icon-color, $icon-color-hover);
    font-size: 1.1em;
    &::before{
        background-size: 1.1em;
    }
}

@mixin changeButton() {
    @include link--icon-background-before('./../../img/pencil.svg', $icon-color, $icon-color-hover);
    font-size: 1.1em;
    &::before{
        background-size: 1.1em;
    }
}

form{
    fieldset.module{
        color: $color-text;
        background: transparent;

        label{
            color: $color-text;
        }

        input[type=text], input[type=number], select, textarea{
            @include input();
        }

        .form-row{
            border-bottom: 1px solid $color-separator;
        }

        .related-widget-wrapper{
            a.add-related {
                @include addButton();
                display: inline-block;
                height: 30px;
                margin-bottom: 10px;
                & > img {
                    display: none;
                }
                &::after{
                    content: "add";
                    line-height: 30px;
                    vertical-align: middle;
                }
            }
            a.change-related{
                @include changeButton();
                & > img {
                    display: none;
                }
            }
            
            .selector{
                float: none;
                .selector-filter,
                .selector-chosen h2,
                .selector-available h2
                {
                    background: $dark-purple;
                    border: none;
                    color: $color-text
                }
                .selector-chosen h2, 
                .selector-available h2{
                    background: $russian-violet-2;
                    border-bottom: 1px solid $color-separator-2;
                }
                select{
                    @include scroll(
                        $color-separator-2,
                        $midnight-green-eagle-green-3, 
                        $skobeloff
                    )
                }
            }
        }
    }

    .inline-group{
        overflow: initial;
        h2 {
            background: $russian-violet-2;
        }
        fieldset.module table{
            th{
                background:  $dark-purple;
                color: $color-text;
                border-color: #fff2;
            }
            tr:nth-child(odd){
                background-color: $color-bg-primary;
            }
            tr:nth-child(even){
                background-color: lighten($color-bg-primary, 3%);
            }
            td{
                border-bottom: #fff2;
            }
            tbody tr.add-row > td{
                background-color: $color-bg-primary;
                border: none;
                a{
                    @include addButton();
                }
    
            }
        }

        &[data-inline-type="stacked"]{

            div.add-row {
                background-color: $color-bg-primary;
                border:none;
                border-top: 1px solid $color-separator;
                a{
                    @include addButton();
                }
               
            }
            
            .inline-related{
                border:none;
                overflow: initial;
                fieldset.module{
                    display: flex;
                    flex-wrap: wrap;
                    & > * {
                        flex: 1 0 auto;
                    }

                    .form-row{
                        border-color: #fff2;
                        max-width: 100%;
                        @media(max-width: 772px) {
                            & > div {
                                width: calc(100vw - 50px);
                            }
                        }
                    }
                }
                h3 {
                    background: $dark-purple;
                    color: $color-text;
                    border-color: $color-bg-secondary;
                    span.delete{
                        margin-left: auto;
                        flex: unset;
                    }
                }
            }
        }
    }

    input[type="file"]{
        @include input-file();
    }

    .submit-row{
        background: $color-bg-primary;
        border: none;
        border-top: 1px solid $color-separator-3;
        border-radius: 0;
        input[type="submit"]{
            @include input-submit();
        }
    }

    .file-upload{
        a {
            line-height: 1em;
            vertical-align: middle;
            margin-left: 5px;
            max-width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
        }
    }
}


.input-number{
    padding-right: 20px;
    -moz-appearance: textfield;
    appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button{
        -webkit-appearance: none;

        margin: 0;
    };
    &__wrapper{
        display: inline-block;
        position: relative;
    }
    &__btn{
        position: absolute;
        width: 20px;
        height:  50%;
        right: 1px;
        border: none;
        outline: none;
        padding: 0;
        background: transparent;
        color:  $midnight-green-eagle-green;
        cursor: pointer;
        &:hover:before{
            color: lighten($russian-violet-2, 30%);
        }
        &:before{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            vertical-align: middle;
        }
        &--increase{
            &:before{
                content: "\25B2";
            }
        }
        &--decrease{
            top: 50%;
            &:before{
                content: "\25BC";
            }
        }
    }
}
