@mixin blackSvgToColor(){
    filter: 
        invert(27%) 
        sepia(51%) 
        saturate(2878%)
        hue-rotate(var(--black-icon-hue))
        brightness(var(--black-icon-brightness))
        contrast(97%);
    &:hover{
        filter:
            invert(27%)
            sepia(51%)
            saturate(2878%)
            hue-rotate(var(--black-icon-hover-hue))
            brightness(var(--black-icon-hover-brightness))
            contrast(97%);
    }
}

@mixin link--icon-background-before($url) {
    background: none;
    padding-left: 25px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 25px;
        height: 100%;
        background-image: url($url);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center left;
        @include blackSvgToColor();
    }
}

