@import "./../../common_css/colors.scss";


.login{
    background: var(--color-bg-primary);
    p, span, label{
        color: var(--color-text);
    }
    #container{
        border: none;
        background: none;
     
    }
    .content{
        background: var(--color-bg-secondary);
        box-shadow: 0 0 2px #fff5;
    }
    
    .form-row{
        label{
            color: white;
        }

        input[type=text], input[type=password]{
            background: var(--color-bg-primary);
            color: var(--color-text);
            outline: none;
            border-color: var(--color-pallet-4);
            &:focus{
                border-color: var(--color-pallet-10-light);
            }
            &:-webkit-autofill,
            &:-webkit-autofill:hover, 
            &:-webkit-autofill:focus{
                background: var(--color-bg-primary);
                border: 1px solid var(--color-pallet-4);
                -webkit-text-fill-color: var(--color-text);
                -webkit-box-shadow: 0 0 0px 1000px var(--color-bg-primary) inset;
                transition: background-color 5000s ease-in-out 0s;
            }
            &:-webkit-autofill:hover{
                border: 1px solid var(--color-pallet-10-light);
            }
        }
    }

    .submit-row{
        input[type=submit]{
            background: var(--color-pallet-2);
            &:hover{
                background: var(--color-pallet-2-light);
            }
        }
    }
}