@import "./../../css/colors.scss";


.login{
    background: $color-bg-primary;
    p, span, label{
        color: $color-text;
    }
    #container{
        border: none;
        background: none;
     
    }
    .content{
        background: $color-bg-secondary;
        box-shadow: 0 0 2px #fff5;
    }
    
    .form-row{
        label{
            color: white;
        }

        input[type=text], input[type=password]{
            background: $color-bg-primary;
            color: $color-text;
            outline: none;
            border-color: $midnight-green-eagle-green-3;
            &:focus{
                border-color: lighten($russian-violet-2, 30%);
            }
            &:-webkit-autofill,
            &:-webkit-autofill:hover, 
            &:-webkit-autofill:focus{
                background: $color-bg-primary;
                border: 1px solid $midnight-green-eagle-green-3;
                -webkit-text-fill-color: $color-text;
                -webkit-box-shadow: 0 0 0px 1000px $color-bg-primary inset;
                transition: background-color 5000s ease-in-out 0s;
            }
            &:-webkit-autofill:hover{
                border: 1px solid lighten($russian-violet-2, 30%);
            }
        }
    }

    .submit-row{
        input[type=submit]{
            background: $midnight-green-eagle-green;
            &:hover{
                background: lighten($midnight-green-eagle-green, 10%);
            }
        }
    }
}