{% load utils %}
<ul class="contact__list">
    {% if contact_field_order %}
    {% with contacts=cv.data.contact.contacts_ordered_dict %}
    {% for field in contact_field_order %}
    {% get_dict_value contacts field as contact %}
    {% if contact %}
    <li class="contact__list-item">
        <span class="contact__{{contact.name|lower}}">{{contact.value_display}}</span>
    </li>
    {% endif %}
    {% endfor %}
    {% endwith %}
    {% else %}
    {% for contact_item in cv.data.contact.contacts_ordered %}
    <li class="contact__list-item">
        <span class="contact__{{contact_item.contact.name|lower}}">{{contact_item.contact.value_display}}</span>
    </li>
    {% endfor %}
    {% endif %}
</ul>