
@media screen and (hover: hover) {
  .projects .slider{
    padding: 0 50px;
    &__controls{
      display: flex;
    }
  }
}

.projects {
  &__row{
    padding-left: 0;
    padding-right: 0;
    &:first-of-type{
      margin-top: 5vh;
    }
    &:last-of-type{
      margin: 5vh 0;
    }
    & > * {
      padding: 0;
    }
  }
}


@media screen and (min-height: map-get($grid-breakpoints-vertical, "sm")) {
  .projects{
    &__container{
      display: flex;
      flex-direction: column;
    }
    &__row{
      padding-left: 0;
      padding-right: 0;
      &:first-of-type{
        margin-top: auto;
      }
      &:last-of-type{
        margin-bottom: auto;
        margin-top: auto;
      }
    }
  }
}


@media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
  .projects{
    .slider{
      min-width: 1020px;
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
  .projects{
    .slider{
      min-width: 1080px;
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'xxxl')) {
  .projects{
    .slider{
      min-width: 1200px;
    }
  }
}