{% extends "page.html" %}
{% load render_bundle from webpack_loader %}
{% load compress static  %}

{% block pagestyle %}
    {% include 'partial/style.html' with style_url='front/css/pages/index.css' %}
    {% render_bundle 'main' 'css' %}
{% endblock %}


{% block scripts %}
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'chunk-common' %}
    {% render_bundle 'main' 'js' %}
    {% compress js %}
        {% include 'partial/script.html' with script_url='front/js/index.js' %}
    {% endcompress %}
{% endblock %}
