//pallet
$skobeloff: #006466ff;
$midnight-green-eagle-green: #065a60ff;
$midnight-green-eagle-green-2: #0b525bff;
$midnight-green-eagle-green-3: #144552ff;
$charcoal: #1b3a4bff;
$prussian-blue: #212f45ff;
$space-cadet: #272640ff;
$dark-purple: #312244ff;
$russian-violet: #3e1f47ff;
$russian-violet-2: #4d194dff;


$color-bg-primary: #222831;
$color-bg-secondary:#393e46; 
$color-text: #c9c9c9;
$color-text-secondary: #353535;
$color-separator: #fff2;
$color-separator-2: #fff8;
$color-separator-3: #fff6;

$icon-color: ("hue": 170deg, "brightness": 20%);
$icon-color-hover: ("hue": 170deg, "brightness": 60%);