@use "@sass/abstracts/mixins" as *;
@use "@sass/components/overlay";

.technology-all{
  &__container{
    margin: 25px;
    width: unset;
  }
  .overlay__content{
    padding: 0;
  }
  &__row{
    justify-content: flex-start;
  }

  &__col{
    justify-content: flex-start;
  }

  &__category{
    margin-right: 15px;
  }

  &__category-title{
    max-width: 80%;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  &__list{
    padding-left: 25px;
  }

  &__item{
    color: var(--color-pallet-primary);
    line-height: 2.5em;
    font-family: "Source Sans Pro", "Roboto", sans-serif;
    font-weight: bold;
  }
}

@include media('sm'){
  .technology-all{
    //&__row:first-of-type{
    //  margin-bottom: 50px;
    //}
  }
}

@include media('lg'){
  .technology{
    .l-row {
      &:last-of-type {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

@include media('xl'){
  .technology-all{
    &__container{
      //noinspection CssInvalidPropertyValue
      height: stretch;
      display: flex;
      flex-direction: column;
      padding: 0 25px;
    }
  }
}

