{% load webp_converter i18n %}
<section class="welcome" id="{% translate 'welcome' %}">
    <div class="l-container">
        <div class="l-row">
            <div class="l-col-xs-12 l-col-lg-6 welcome__column">
                {{ section.props.welcome_content|safe }}
            </div>
            <div class="l-col-xs-12 l-col-lg-6">
                <div id="logoWrapper" class="logo__wrapper logo__wrapper--init">
                    <div class="logo__container">
                        <div class="logo__img-aspect">
                            <div class="logo__img-aspect__inside">
                                <svg class="logo__img-mask" viewBox="0 0 572 411" width="0" height="0">
                                    <defs>
                                        <clipPath id="codeClip"
                                                  clipPathUnits="objectBoundingBox"
                                                  transform="scale(0.00174825174826, 0.002433090024330901)"
                                                  data-svg-animation="logoClipSvg"
                                                  data-svg-animation-noscroll="true">
                                            <path/><path/><path/>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <div id="logoContainer" class="logo__img-container">
                                    <img class="logo__img" src="{% static_webp 'img/code.png' %}" alt="Code">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>