//$maximize-svg: url("/static/img/maximize.svg");
//$burger-svg: url("/static/img/burger.svg");
//$cross-svg: url("/static/img/cross.svg");
//$arrow-svg: url("/static/img/arrow.svg");


$maximize-svg: url("@/assets/img/maximize.svg");
$burger-svg: url("@/assets/img/burger.svg");
$cross-svg: url("@/assets/img/cross.svg");
$arrow-svg: url("@/assets/img/arrow.svg");
$arrow-up-svg: url("@/assets/img/arrow-up.svg");

