<html>
<head>
    <title>Test</title>
    <style>
        @page {
            size: Letter;
            margin: 0in 0in 0in 0in;
        }
        html{
            background: red;
        }
    </style>
</head>
<body>
<h1>List of people</h1>
<table>
    <thead>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {% for person in people %}
    <tr>
        <td>{{ person.last_name }}</td>
        <td>{{ person.first_name }}</td>
        <td>{{ person.email }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>