div.module{
    caption{
      background-color: $color-pallet-3
    }
    table{
      color: var(--color-text);
      background: var(--color-bg-primary);
      tr:nth-child(odd){
        background: var(--color-bg-secondary);
      }
      tr:nth-child(even){
        background: var(--color-bg-secondary-light);
      }
      th, td{
        border-bottom-color: var(--color-bg-secondary);
        color: var(--color-text);
      }
    }
  }