@import "./calendar-widget";

@mixin addButton() {
    @include link--icon-background-before('./../../img/add.svg');
    font-size: 1.1em;
    &::before{
        background-size: 1.1em;
    }
}

@mixin changeButton() {
    @include link--icon-background-before('./../../img/pencil.svg');
    font-size: 1.1em;
    &::before{
        background-size: 1.1em;
    }
}

form{
    fieldset.module{
        color: var(--color-text);
        background: transparent;
        //display: flex;
        //flex-wrap: wrap;
        h2 {
            background: var(--color-pallet-4);
        }
        label{
            color: var(--color-text);
        }

        input[type=text], input[type=number], select, textarea{
            @include input();
        }

        .form-row{
            border-bottom: 1px solid var(--color-separator);
        }

        .related-widget-wrapper{
            a.add-related {
                @include addButton();
                display: inline-block;
                height: 30px;
                margin-bottom: 10px;
                & > img {
                    display: none;
                }
                &::after{
                    content: "add";
                    line-height: 30px;
                    vertical-align: middle;
                }
            }
            a.change-related{
                @include changeButton();
                & > img {
                    display: none;
                }
            }
            
            .selector{
                float: none;
                .selector-filter,
                .selector-chosen h2,
                .selector-available h2
                {
                    background: var(  --color-bg-secondary);
                    border: none;
                    color: $color-text
                }
                .selector-chosen h2, 
                .selector-available h2{
                    background: var(--color-pallet-1);
                    border-bottom: 1px solid var(--color-separator-2);
                }
                select{
                    @include scroll(
                        transparent,
                        var(--color-pallet-4),
                        $color-pallet-1
                    )
                }
                .selector-filter{
                    background: transparent;
                    border-left: 1px solid var(--color-pallet-1);
                    border-right: 1px solid var(--color-pallet-1);
                }
                select{
                    background: transparent;
                    option {
                        font-size: 1rem;
                        margin: .5em 0;
                    }
                }
            }
        }
    }

    .inline-group{
        overflow: initial;
        h2 {
            background: var(--color-pallet-1);
        }
        fieldset.module table{
            th{
                background:  var(--color-pallet-8);
                color: var(--color-text);
                border-color: #fff2;
            }
            tr:nth-child(odd){
                background-color: var(--color-bg-primary);
            }
            tr:nth-child(even){
                background-color: var(--color-bg-primary--light);
            }
            td{
                border-bottom: #fff2;
            }
            tbody tr.add-row > td{
                background-color: var(--color-bg-primary);
                border: none;
                a{
                    @include addButton();
                }
    
            }
        }

        &[data-inline-type="stacked"]{
            div.add-row {
                background-color: var(--color-bg-primary);
                border:none;
                border-top: 1px solid var(--color-separator);
                a{
                    @include addButton();
                }
               
            }
            
            .inline-related{
                border:none;
                overflow: initial;
                fieldset.module{
                    //display: flex;
                    //flex-wrap: wrap;
                    &.form__contact-image__fieldset{
                        display: block;
                    }
                    & > * {
                        flex: 1 0 auto;
                    }

                    .form-row{
                        border-color: transparent;
                        max-width: 100%;
                        @media(max-width: 772px) {
                            & > div {
                                width: calc(100vw - 50px);
                            }
                        }
                    }
                }
                h3 {
                    background: transparent;
                    color: var(--color-text);
                    border-top: none;
                    border-color: var(--color-pallet-1);
                    span.delete{
                        margin-left: auto;
                        flex: unset;
                    }
                }
                &:not(:nth-last-of-type(2)){
                    border-bottom: 1px solid var(--color-separator);
                }
            }
        }
    }

    input[type="file"]{
        @include input-file();
    }

    .submit-row{
        background: var(--color-bg-primary);
        border: none;
        border-top: 1px solid var(--color-separator-3);
        border-radius: 0;
        input[type="submit"]{
            @include input-submit();
        }
    }

    .file-upload{
        a {
            line-height: 1em;
            vertical-align: middle;
            margin-left: 5px;
            max-width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
        }
    }

}




.input-number{
    padding-right: 20px;
    -moz-appearance: textfield;
    appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button{
        -webkit-appearance: none;

        margin: 0;
    };
    &__wrapper{
        display: inline-block;
        position: relative;
    }
    &__btn{
        position: absolute;
        width: 20px;
        height:  50%;
        right: 1px;
        border: none;
        outline: none;
        padding: 0;
        background: transparent;
        color:  var(--color-pallet-2);
        cursor: pointer;
        &:hover:before{
            color: var(--color-pallet-9-light);
        }
        &:before{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            vertical-align: middle;
        }
        &--increase{
            &:before{
                content: "\25B2";
            }
        }
        &--decrease{
            top: 50%;
            &:before{
                content: "\25BC";
            }
        }
    }
}



ul.errorlist,
p.errornote{
   & ,li, p, div {
       background: var(--color-pallet-warning);
       color: var(--color-text-primary)
   }
}

.page__path{
    display: flex;
    border-bottom: 1px solid var(--color-separator);
    border-top: 1px solid var(--color-separator);
    .ui-sortable {
        flex: 1;
    }
    .djn-add-item.add-item.add-row{
        border-left: 1px solid var(--color-separator);
    }

    .field-pattern{
        display: flex;
        align-items: center;
    }
}

.field-menu{
    border-top: 1px solid var(--color-separator);
    label[for='id_menu'] {
        width: 100%;
    }
}

div.parler-language-tabs{
    border-bottom: 2px solid var(--color-pallet-1);
    span.current{
        background: var(--color-pallet-4);
        border-color: var(--color-pallet-1);
    }
    span.available{
        border-color: var(--color-separator);
    }
}

.jsonwidget {
    button{
        @include button();
    }
}

form .inline-group[data-inline-type=stacked] fieldset.module.section__view{
    display: block;
    button {
        @include button();
        background: var(--color-bg-secondary);
        border-bottom: 1px solid var(--color-pallet-1);
        border-radius: 0;
        &:hover,
        &:focus,
        &:hover:focus{
            outline: none;
        }
    }
}

form fieldset.form__contact-image__fieldset{
    display: block;
}

div.polymorphic-type-menu{
    background: var(--color-bg-secondary);
    padding: 0.25rem;
    li {
        margin: .25rem 0;
    }
}

input[type=button].add-array-item{
    @include button();
    &:hover,
    &:focus,
    &:hover:focus{
        outline: none;
    }
}

input[type=color]{
    background: transparent;
    border: none;
    box-shadow: none;
    border-left: 1px;
    &:focus, &:active, &:focus:active{
        outline: none;
    }
    &:focus {
        border-left: 1px solid var(--color-pallet-1);
    }
}

.input{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    &, &:hover, &:focus, &:hover:focus{
        outline: none
    }
    &:checked + &__overlay:after{
        display: block;
    }
    &__wrapper{
        width: 1rem;
        height: 1rem;
        display: inline-flex;
        position: relative;
        vertical-align: middle;
        margin-right: 0.75em;
        & + label.vCheckboxLabel{
            padding: 0;
            vertical-align: middle;
            line-height: 1rem;
        }
    }
    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 1px solid var(--color-pallet-1);
        &:after{
            content: "";
            display: none;
            position: absolute;
            @each $cord in (top, left, right, bottom){
                #{$cord}: 2px;
            }
            background: var(--color-pallet-2);
        }
    }
}

form select {
    min-width: 200px;
    @include scroll(
        transparent,
        var(--color-pallet-4),
        $color-pallet-1
    )
}


ul.sortedm2m-items.sortedm2m.ui-sortable{
    padding-left: 1rem;
}
ul.ui-sortable,
ul.sortedm2m-items{
    padding-left: 1rem;
    @include scroll(
        transparent,
        var(--color-pallet-4),
        $color-pallet-1
    );
    border-left: 1px solid var(--color-pallet-4);
    resize: vertical;
}
div.sortedm2m-container p.selector-filter {
    margin-bottom: 2rem;
    display: flex;
    img{
        box-sizing: border-box;
        width: 25px;
        height: 25px;
        padding-left: 30px;
        background-image: url('./../../img/magnifier.svg');
        background-repeat: no-repeat;
        background-size: 21px 21px;
        background-position: center left;
        @include blackSvgToColor();
    }
}