{% load webp_converter %}
<section>
    <div class="l-container">
        <div class="l-row">
            <div class="l-col-xs-12">
                <vue-component>
                    <projects>
                        <card-project title="DJ TRUCK 1" id="1" type="page">
                            <template #header>
                                <a class="card-project__title-link" href="/project"> DJ TRUCJ 5 </a>
                                <a class="card-project__type-link" href="/projects?type=app"> APP </a>
                            </template>
                            <template #gallery>
                                <gallery>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                </gallery>
                            </template>

                            <h4 class="card-project__subtitle">Digital dj software in browser</h4>
                            <p class="card-project__text">
                                Online dj software allowing mixing tracks from external source
                                like youtube or soundcloud and record and store gigs. Two channel
                                mixer with three band equlization low and hi pass filters
                                cue channel monitoring and build two channel
                            </p>

                            <ul class="card-project__technology-list">
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link js"> Javascript </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link react">
                                        React
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link express">
                                        Express
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link auth0">
                                        Auth0
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link postgresql">
                                        Postgresql
                                    </a>
                                </li>
                            </ul>

                        </card-project>
                        <card-project title="DJ TRUCK 1" id="2" type="lib">
                            <template #header>
                                <a class="card-project__title-link" href="/project"> DJ TRUCJ 5 </a>
                                <a class="card-project__type-link" href="/projects?type=lib"> LIB </a>
                            </template>
                            <template #gallery>
                                <gallery>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                </gallery>
                            </template>
                            <h4 class="card-project__subtitle">Digital dj software in browser</h4>
                            <p class="card-project__text">
                                Online dj software allowing mixing tracks from external source
                                like youtube or soundcloud and record and store gigs. Two channel
                                mixer with three band equlization low and hi pass filters
                                cue channel monitoring and build two channel
                            </p>

                            <ul class="card-project__technology-list">
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link js"> Javascript </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link react">
                                        React
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link express">
                                        Express
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link auth0">
                                        Auth0
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link postgresql">
                                        Postgresql
                                    </a>
                                </li>
                            </ul>
                        </card-project>
                        <card-project title="DJ TRUCK 1" id="3" type="app">
                            <template #header>
                                <a class="card-project__title-link" href="/project">ROSA </a>
                                <a class="card-project__type-link" href="/projects?type=lib"> LIB </a>
                            </template>
                            <template #gallery>
                                <gallery>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                </gallery>
                            </template>
                            <h4 class="card-project__subtitle">Digital dj software in browser</h4>
                            <p class="card-project__text">
                                Online dj software allowing mixing tracks from external source
                                like youtube or soundcloud and record and store gigs. Two channel
                                mixer with three band equlization low and hi pass filters
                                cue channel monitoring and build two channel
                            </p>

                            <ul class="card-project__technology-list">
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link js"> Javascript </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link react">
                                        React
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link express">
                                        Express
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link auth0">
                                        Auth0
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link postgresql">
                                        Postgresql
                                    </a>
                                </li>
                            </ul>
                        </card-project>
                        <card-project title="DJ TRUCK 1" id="3" type="app">
                            <template #header>
                                <a class="card-project__title-link" href="/project">RTG </a>
                                <a class="card-project__type-link" href="/projects?type=lib"> LIB </a>
                            </template>
                            <template #gallery>
                                <gallery>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                </gallery>
                            </template>
                            <h4 class="card-project__subtitle">Digital dj software in browser</h4>
                            <p class="card-project__text">
                                Online dj software allowing mixing tracks from external source
                                like youtube or soundcloud and record and store gigs. Two channel
                                mixer with three band equlization low and hi pass filters
                                cue channel monitoring and build two channel
                            </p>

                            <ul class="card-project__technology-list">
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link js"> Javascript </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link react">
                                        React
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link express">
                                        Express
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link auth0">
                                        Auth0
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link postgresql">
                                        Postgresql
                                    </a>
                                </li>
                            </ul>
                        </card-project>
                        <card-project title="DJ TRUCK 1" id="3" type="app">
                            <template #gallery>
                                <gallery>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                </gallery>
                            </template>
                            <h4 class="card-project__subtitle">Digital dj software in browser</h4>
                            <p class="card-project__text">
                                Online dj software allowing mixing tracks from external source
                                like youtube or soundcloud and record and store gigs. Two channel
                                mixer with three band equlization low and hi pass filters
                                cue channel monitoring and build two channel
                            </p>

                            <ul class="card-project__technology-list">
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link js"> Javascript </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link react">
                                        React
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link express">
                                        Express
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link auth0">
                                        Auth0
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link postgresql">
                                        Postgresql
                                    </a>
                                </li>
                            </ul>
                        </card-project>
                        <card-project title="DJ TRUCK 1" id="3" type="app">
                            <template #gallery>
                                <gallery>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                </gallery>
                            </template>
                            <h4 class="card-project__subtitle">Digital dj software in browser</h4>
                            <p class="card-project__text">
                                Online dj software allowing mixing tracks from external source
                                like youtube or soundcloud and record and store gigs. Two channel
                                mixer with three band equlization low and hi pass filters
                                cue channel monitoring and build two channel
                            </p>

                            <ul class="card-project__technology-list">
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link js"> Javascript </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link react">
                                        React
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link express">
                                        Express
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link auth0">
                                        Auth0
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link postgresql">
                                        Postgresql
                                    </a>
                                </li>
                            </ul>
                        </card-project>
                        <card-project title="DJ TRUCK 1" id="3" type="app">
                            <template #gallery>
                                <gallery>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                </gallery>
                            </template>
                            <h4 class="card-project__subtitle">Digital dj software in browser</h4>
                            <p class="card-project__text">
                                Online dj software allowing mixing tracks from external source
                                like youtube or soundcloud and record and store gigs. Two channel
                                mixer with three band equlization low and hi pass filters
                                cue channel monitoring and build two channel
                            </p>

                            <ul class="card-project__technology-list">
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link js"> Javascript </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link react">
                                        React
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link express">
                                        Express
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link auth0">
                                        Auth0
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link postgresql">
                                        Postgresql
                                    </a>
                                </li>
                            </ul>
                        </card-project>
                        <card-project title="DJ TRUCK 1" id="3" type="app">
                            <template #gallery>
                                <gallery>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                </gallery>
                            </template>
                            <h4 class="card-project__subtitle">Digital dj software in browser</h4>
                            <p class="card-project__text">
                                Online dj software allowing mixing tracks from external source
                                like youtube or soundcloud and record and store gigs. Two channel
                                mixer with three band equlization low and hi pass filters
                                cue channel monitoring and build two channel
                            </p>

                            <ul class="card-project__technology-list">
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link js"> Javascript </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link react">
                                        React
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link express">
                                        Express
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link auth0">
                                        Auth0
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link postgresql">
                                        Postgresql
                                    </a>
                                </li>
                            </ul>
                        </card-project>
                        <card-project title="DJ TRUCK 1" id="3" type="app">
                            <template #gallery>
                                <gallery>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                </gallery>
                            </template>
                            <h4 class="card-project__subtitle">Digital dj software in browser</h4>
                            <p class="card-project__text">
                                Online dj software allowing mixing tracks from external source
                                like youtube or soundcloud and record and store gigs. Two channel
                                mixer with three band equlization low and hi pass filters
                                cue channel monitoring and build two channel
                            </p>

                            <ul class="card-project__technology-list">
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link js"> Javascript </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link react">
                                        React
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link express">
                                        Express
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link auth0">
                                        Auth0
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link postgresql">
                                        Postgresql
                                    </a>
                                </li>
                            </ul>
                        </card-project>
                        <card-project title="DJ TRUCK 1" id="3" type="app">
                            <template #gallery>
                                <gallery>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                </gallery>
                            </template>
                            <h4 class="card-project__subtitle">Digital dj software in browser</h4>
                            <p class="card-project__text">
                                Online dj software allowing mixing tracks from external source
                                like youtube or soundcloud and record and store gigs. Two channel
                                mixer with three band equlization low and hi pass filters
                                cue channel monitoring and build two channel
                            </p>

                            <ul class="card-project__technology-list">
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link js"> Javascript </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link react">
                                        React
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link express">
                                        Express
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link auth0">
                                        Auth0
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link postgresql">
                                        Postgresql
                                    </a>
                                </li>
                            </ul>
                        </card-project>
                        <card-project title="DJ TRUCK 1" id="3" type="app">
                            <template #gallery>
                                <gallery>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                    <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                </gallery>
                            </template>
                            <h4 class="card-project__subtitle">Digital dj software in browser</h4>
                            <p class="card-project__text">
                                Online dj software allowing mixing tracks from external source
                                like youtube or soundcloud and record and store gigs. Two channel
                                mixer with three band equlization low and hi pass filters
                                cue channel monitoring and build two channel
                            </p>

                            <ul class="card-project__technology-list">
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link js"> Javascript </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link react">
                                        React
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link express">
                                        Express
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link auth0">
                                        Auth0
                                    </a>
                                </li>
                                <li class="card-project__technology-list__item">
                                    <a class="card-project__technology__link postgresql">
                                        Postgresql
                                    </a>
                                </li>
                            </ul>
                        </card-project>
                    </projects>
                </vue-component>
            </div>
        </div>
    </div>
</section>