{% extends "page.html" %}

{% load compress static svg %}

{% block meta %}
<meta name="description" content="Rkam offline page - you  don't have connection to any network ">
<meta name="title" content="Offline page - try again latter">
<title>Rkam offline</title>
<link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}

{% block pagestyle %}
    {% include 'partial/style.html' with style_url='front/css/pages/common.css' %}
    {% include 'partial/style.html' with style_url='front/css/pages/offline.css' %}
{% endblock %}


{% block content %}
    <main>
        <div class="l-container">
            <div class="svg__container">
                 {% svg 'offline' %}
            </div>
            <div class="text_container">
                <h2 class="text">You are currently not connected <br/><span>to any networks.</span></h2>
            </div>
        </div>
    </main>
{% endblock %}