{% extends "page.html" %}

{% load compress static svg %}

{% block pagestyle %}
    {% include 'partial/style.html' with style_url='front/css/pages/common.css' %}
    {% include 'partial/style.html' with style_url='front/css/pages/404.css' %}
{% endblock %}


{% block content %}
    <div class="l-container">
        <section class="content">
            <div class="svg__wrapper">
                <div class="svg__container">
                    {% svg '404' %}
                </div>
            </div>
            <div class="text-container">
                <h1 class="title">Page not found</h1>
                <a class="home-link" href="/">back to <span> home </span> page</a>
            </div>
        </section>
    </div>
{% endblock %}