@use "@sass/abstracts/colors--index";


.l-container{
  display: grid;
  place-items: center;
  height: 100vh;
}

.content{
  max-width: 70%;
}

.svg{
  &__wrapper{
    display:flex;
    justify-content: center;
  }

  &__container{
    --stroke-color: var(--color-pallet-primary);
    width: 100%;
    svg{
      width: 40rem;
      max-width: 100%;
      filter: drop-shadow(0 0 8px var(--color-pallet-primary));
    }
  }
}

.text-container{
  margin-left: 21%;
  font-family: Roboto, sans-serif;
  * {
    font-family: inherit;
  }
  .title{
    margin-top: clamp(1rem, 5vw, 3rem);
    text-transform: uppercase;
    font-size: clamp(1rem, 5vw, 3rem);
    opacity: 0.8;
  }

  .home-link{
    text-decoration: underline;
    text-underline-offset: .2em;
    margin-top: 0.2em;
    display: inline-block;
    font-size: clamp(.8rem,4vw,2rem);
    font-family: Roboto, sans-serif;
    span{
      text-decoration: underline;
    }
  }
}
