{% load webp_converter %}
<section class="about" id="about">
    <div class="l-container">
        <div class="l-row">
            <div class="l-col-xs-12 l-col-lg-6 about__photo__container">
                <div class="about__photo">
                    <img class="about__photo" src="{% static_webp 'img/fake-me.png'%}" alt="owner photo"/>
                </div>
            </div>
            <div class="l-col-xs-12 l-col-lg-6 about__content__container">
                <div class="about__content">
                    <h2 class="about__content__title">About <span class="highlighted">me.</span></h2>
                    <p class="about__content__text text">
                        I will transform your plans and requirements into the best solutions
                        based on cutting edge technologies and trends align with best practices.
                        I will transform your plans and requirements into the best solutions
                    </p>
                    <p class="about__content__text text">
                        I will transform your plans and requirements into the best solutions
                        based on cutting edge technologies and trends align with best practices.
                        I will transform your plans and requirements into the best solutions
                    </p>
                    <p class="about__content__text text">
                        I will transform your plans and requirements into the best solutions
                        based on cutting edge technologies and trends align with best practices.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>