{% load webp_converter i18n %}
<section class="projects" id="{% translate 'projects' %}">
    <div class="l-container projects__container">
        <div class="l-row projects__row">
            <div class="l-col-xs-12">
                <vue-component>
                    <slider>
                        {% for project in projects %}
                        <slider-item>
                            {% include 'partial/project-card.html'  with extensible=True %}
                        </slider-item>
                        {% endfor %}
                    </slider>
                </vue-component>
            </div>
        </div>
        <div class="l-row projects__row">
            <div class="l-col-xs-12 flex-center">
                <button class="btn btn--all">{% translate 'See all' %}</button>
            </div>
        </div>
    </div>
</section>