{% load static i18n %}
<section class="contact" id="{% translate 'contact' %}">
    <div class="l-container">
        <div class="l-row contact__container">
            <div class="l-col-xs-12 l-col-lg-6">
                {{ section.props.contact_form|safe}}
            </div>
            <div class="l-col-xs-12 l-col-lg-6 contact__info__container">
                {{ section.props.contact_description|safe }}
                <div class="contact__portals__container">
                    <div class="contact__portals__wrapper">
                        {% for contact in contacts %}
                            {% with url=contact.img_url left=contact.img_left top=contact.img_top width=contact.img_width  height=contact.img_height is_sprite=contact.img_sprite %}
                                {% if not contact.is_number %}
                                    <a class="contact__portals__link contact__portals__link--{{ contact.name|slugify }}" href="{{contact.value}}" target="_blank">
                                        {% include 'partial/icon-img.html' %}
                                    </a>
                                {% else %}
                                    {% include 'partial/contact-number-component.html' %}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
                <div class="contact__resume__container">
                    <vue-component>
                        <pdf-preloader spinner-label="{% translate 'Preparing' %}" download-label="{% translate 'Download' %}" open-label="{% translate 'Open' %}">
                            <a class="contact__resume__btn-link contact__resume__btn-link--download link-btn btn btn--all"
                               href="{{cv_download_url}}" target="_blank" data-download-pdf="true">
                                {% translate "Download Reasume" %}
                            </a>
                        </pdf-preloader>
                    </vue-component>
                </div>
            </div>
        </div>
    </div>
</section>