
.contact{
  min-height: calc(80 * var(--vh));
  .l-container > .l-row > * {
    min-height: 50vh;

  }

  &__container{
    display: flex;
    justify-content: center;
  }

  &__title{
    margin-bottom: 40px;
  }

  .form{
    &__summary{
      display: flex;
      flex-direction: column;
      padding-left: 45px;
      padding-right: 0;
      &__group{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
      }
    }

    &__btn--send{
      margin-left: auto;
      margin-top: 20px;
    }

    &__message{
      color: var(--color-text-primary);
      margin: 0 2em 0 0;

      &[data-succes=false]{
        color: var(--color-pallet-warning);
      }
    }
  }

  input{
    display: block;
    width: 200px;
  }

  .spinner{
    margin-top: 20px;
    --spinner-color: var(--color-pallet-priamry);
    --spinner-bg-color: var(--color-text-primary);
    &__label{
      letter-spacing: .5px;
    }
  }

  &__info{
    &__container{
      @extend .indented;
      margin-top: 5vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__text{
      color: var(--color-pallet-priamry);
    }
  }

  &__portals{
    &__container{
      max-width: 250px;
      width: 420px;
      margin: 25px auto;
    }
    &__wrapper{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    &__link{
      position: relative;
      display: inline-block;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      & > img{
        width: var(--w);
        height: var(--h);
        background-image: var(--url);
        background-position: var(--x) var(--y);
        background-repeat: no-repeat;
        filter: grayscale(1);
        transition: filter .1s;
        &:hover{
          filter: grayscale(0);
        }
      }
    }
  }

  &__resume{
    &__container{
      margin-top: auto;
    }
    &__btn{
      display: block;
      margin-left: auto;
    }
  }
}

.contact-number{
  &__modal{
    width: 320px;
    height: 265px;
    display: flex;
    flex-direction: column;
  }
  &__container{
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__controls{
    display: flex;
    justify-content: center;

  }
  &__number{
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__btn{
    width: 60px;
    height: 100px;
    font-size: 1.5rem;
    padding: 75px 0 0;
    text-align: center;
    position: relative;
    border:none;
    margin: 0 30px;
    transition: opacity .3s;
    &:disabled{
      opacity: .1;
      cursor: not-allowed;
    }
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      @include svgMask(
        $copy-svg,
        var(--color-text-primary),
        var(--color-pallet-secondary),
        60px,
        60px
      )
    }
    &:hover:after{
      background: var(--color-pallet-priamry);
    }

    &--copy{

    }
    &--call{
      &:after{
        mask: $call-svg;
      }
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, 'sm')) {
  .contact{
    &__portals{
      &__container{
        width: 450px;
        max-width: 250px;
        margin: 25px auto;
      }
    }
    &__resume{
      &__btn{
        margin-left: auto;
        margin-right: auto;
      }
    }

    .form{
      &__summary{
        padding-left: unset;
      }
      &__message{
        margin-top: 0;
        margin-left: 1em;
      }
      &__btn{
        margin-right: auto;
      }
    }

    .spinner{
      width: 100%;
      &__label{
        margin-right: auto;
      }
      &__ring{
        margin-left: auto;
      }
    }
  }
}


@media screen and (min-width: map-get($grid-breakpoints, 'sm')) {
  .contact{
    .form__summary__group{
      flex-wrap: nowrap;
    }
    &__portals{
      &__container{
        max-width: unset;
        margin-left: 0;
      }
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'md')) {
  .contact{
    &__portals{
      &__container{
        max-width: unset;
        margin-left: 0;
      }
    }
    &__resume{
      &__btn{
        margin-top: 25px;
      }
    }

    //&__info{
    //  &__container{
    //    //padding-left: $paragraph-indent + 15px;
    //    @extend .indented;
    //  }
    //  &__title{
    //    margin-left: -$paragraph-indent;
    //  }
    //}
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
  .contact{
    &__info{
      &__container{
        margin-top: 0;
      }
      &__text{
        &:first-of-type{
          margin-top: 30px;
        }
      }
    }
  }
}


@media screen and (min-width: map-get($grid-breakpoints, 'xxl') + 50px) {
  .contact__portals{
    &__wrapper{
      flex-direction: column;
      height: 450px;
    }
    &__container{
      position: fixed;
      height: 100%;
      top: 0;
      right: calc((100vw - 160px - 25px - 1200px) / 2 / 2 - 15px) ;
      width: 50px;
      flex-direction: column;
      display: flex;
      align-items: center;
      & > :first-child{
        margin-top: auto;
      }
      & > :last-child{
        margin-bottom: auto;
      }
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'xxxl')) {
  .contact__portals{
    &__container{
      right: calc((100vw - 220px - 25px - 1300px) / 2 / 2 - 15px) ;
    }
  }
}