.technology{
  &--chosen .l-col{
    position: relative;
    display: flex;
  }

  &__link{
    position: relative;
    display: grid;
    grid-template-areas: 'img';
    width: 50%;
    place-items: center;
    & > img{
      grid-area: img;
      width: var(--w);
      height: var(--h);
      background-image: var(--url);
      background-position: var(--x) var(--y);
      background-repeat: no-repeat;
      filter: grayscale(1);
      transition: filter .1s;
      &:hover{
        filter: grayscale(0);
      }
    }
  }

  &__list{
    padding-left: 25px;
    &__item{
      color: var(--color-pallet-priamry);
      line-height: 2.5em;
      font-family: "Source Sans Pro", "Roboto", sans-serif;
      font-weight: bold;

    }
  }


  .overlay{
    &__btn{
      &--open{}
      &--close{
        @include buttonBackground(
            $cross-svg,
            var(--color-pallet-priamry),
            var(--color-pallet-secondary),
            54px,
            50px
        );
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 1001;
      }
    }
    &__content{
      background: var(--color-background-primary);
      padding: 50px 0;
    }
  }
}