{% load webp_converter %}
<section>
    <div class="l-container">
        <div class="l-row">
            <div class="l-col-xs-12">
                <article class="project">
                    <header class="project__header">
                        <h2 class="project__title">Dj Truck</h2>
                        <a href="/projects?type=web" class="project__type-link link-button">Web</a>
                    </header>
                    <div class="project__container">
                        <h6 class="project__release">
                            <time datetime="2020-08-12">12/08/2020</time> - <time datetime="2020-08-12">12/08/2020</time>
                        </h6>
                        <div class="l-row">
                            <main class="l-col-xs-12 l-col-lg-8 project__main">
                                <vue-component>
                                    <gallery>
                                        <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                        <gallery-item src="{% static_webp 'img/project-thumbnail-2.png' %}"></gallery-item>
                                        <gallery-item src="{% static_webp 'img/project-thumbnail.png' %}"></gallery-item>
                                    </gallery>
                                </vue-component>
                                <h3 class="project__subtitle">Digital dj software in browser</h3>
                                <p class="project__description text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh scelerisque feugiat tempor consequat malesuada dui.
                                    Nisl auctor integer fringilla sed urna consectetur viverra tempus orci. Sodales ac enim diam sit dignissim.
                                    Tortor, felis est quis amet, ultrices urna malesuada id.
                                    Egestas sodales orci viverra sit magnis. At et, sed scelerisque elementum lectus maecenas laoreet tortor.
                                    Fames morbi integer vel in. Enim arcu egestas cras turpis. Morbi ultrices scelerisque ullamcorper fames
                                    sagittis arcu ipsum laoreet. Ut purus elit, massa vitae, eleifend vel erat. Id feugiat vestibulum a
                                    eget ornare tortor scelerisque tellus. Id at aliquet laoreet tincidunt eget porttitor. Enim, neque enim
                                    massa quisque quam id ornare magna velit. Vitae viverra mattis orci tellus amet non lacus id quis.
                                    Lacus pretium odio tellus neque et. Integer erat faucibus semper augue egestas orci, convallis
                                    sed elementum. Nisl, mi, vulputate elementum lacus. Sed dignissim nisl cursus dignissim in aliquam
                                    amet nisi, dignissim. Dui integer amet, mi amet dolor nisi.

                                    Pellentesque habitasse suspendisse nunc enim, sit. Pretium facilisi dictum accumsan enim, sed eget.
                                    Tincidunt felis arcu non at dignissim felis dictumst vitae. Volutpat amet id tincidunt sem nullam sit.
                                    Diam ornare tempor felis feugiat adipiscing porttitor. Nulla amet laoreet libero quis nunc,
                                    dapibus sollicitudin. Turpis id morbi eget egestas. Rhoncus vitae dolor in mi posuere nibh.

                                    Facilisis massa nulla est pharetra, risus auctor. Amet bibendum egestas felis, felis eu
                                    aliquam elementum ultrices aliquet. Nec purus eu, blandit tortor libero, mattis morbi.
                                    Laoreet quisque integer sed pretium a enim quis mauris. Vitae orci sed leo sed vel. Quis eu,
                                    sagittis bibendum quam sed interdum. Leo neque, luctus auctor scelerisque sem. Cras nunc
                                    felis, eget elementum lacus. Sagittis urna, ut natoque augue vitae sed natoque condimentum.
                                    Nisi, neque, vel eu nec rhoncus felis nisl varius. Vel, neque, justo maecenas ultrices urna
                                    nulla eget. Pharetra quis tempor eget praesent. Aliquet enim habitasse blandit erat.
                                    Orci, nec morbi facilisis aenean ut.
                                </p>
                            </main>
                            <aside class="l-col-xs-12 l-col-lg-4 project__meta">
                                <div class="list__container">
                                    <h4 class="list__title">Srouces</h4>
                                    <dl class="list list--details">
                                        <dt class="list__term">Host</dt>
                                        <dd class="list__description">
                                            <a class="list__link" href="https://stackoverflow.com/questions/">
                                                https://stackoverflow.com/questions
                                            </a>
                                        </dd>
                                        <dt class="list__term">Repo</dt>
                                        <dd class="list__description">
                                            <a class="list__link" href="https://stackoverflow.com/questions/" target="_blank">
                                                https://github.com/questions/
                                            </a>
                                        </dd>
                                        <dt class="list__term">Demo / docs</dt>
                                        <dd class="list__description">
                                            <a class="list__link" href="https://stackoverflow.com/questions/" target="_blank">
                                                https://stackoverflow.com/question
                                            </a>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="list__container">
                                    <h4 class="list__title">Stack</h4>
                                    <ul class="list">
                                        <li class="list__item">
                                            <a class="list__link" href="https://reactjs.org/" target="_blank"> React </a>
                                        </li>
                                        <li class="list__item">
                                            <a class="list__link" href="https://reactjs.org/" target="_blank"> Redux </a>
                                        </li>
                                        <li class="list__item">
                                            <a class="list__link" href="https://reactjs.org/" target="_blank"> Grapsh Ql </a>
                                        </li>
                                        <li class="list__item">
                                            <a class="list__link" href="https://reactjs.org/" target="_blank">Sass </a>
                                        </li>
                                        <li class="list__item">
                                            <a class="list__link" href="https://reactjs.org/" target="_blank"> Progress </a>
                                        </li>
                                        <li class="list__item">
                                            <a class="list__link" href="https://reactjs.org/" target="_blank"> Sequalizer </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="list__container">
                                    <h4 class="list__title">Related Projects</h4>
                                    <ul class="list">
                                        <li class="list__item">
                                            <a class="list__link" href="/project/youtube_api"> Youtube Api </a>
                                        </li>
                                        <li class="list__item">
                                            <a class="list__link" href="/project/youtube_api">SoundCloud Api</a>
                                        </li>
                                        <li class="list__item">
                                            <a class="list__link" href="/project/youtube_api">Spotify Api</a>
                                        </li>
                                        <li class="list__item">
                                            <a class="list__link" href="/project/youtube_api">Recorder Api</a>
                                        </li>
                                        <li class="list__item">
                                            <a class="list__link" href="/project/youtube_api">User data api</a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
