<header>
    <div class="l-container">
        <div class="l-row">
            <vue-component>
                <menu-aside>
                    <menu-aside-item href="#welcome" default-current>Hi' im robert</menu-aside-item>
                    <menu-aside-item href="#technology">Stack</menu-aside-item>
                    <menu-aside-item href="#projects">Projects</menu-aside-item>
                    <menu-aside-item href="#about">About me</menu-aside-item>
                    <menu-aside-item href="#contact">Contact</menu-aside-item>
                </menu-aside>
            </vue-component>
            <vue-component>
                <menu-main class="nav">
                    <menu-main-item>
                        <a href="/projects" class="navigation__item__link">
                            PROJECTS
                        </a>
                    </menu-main-item>
                    <menu-main-item>
                        <a href="/#contact" class="navigation__item__link">
                            CONTACT
                        </a>
                    </menu-main-item>
                </menu-main>
            </vue-component>
        </div>
    </div>
</header>