{% load static %}
<section class="technology" id="technology">
    <div class="l-container ">
        <div class="l-row technology--chosen">
            <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-3">
                <a class="technology__link technology__link--js">
                    <img style="--x: 0; --y: 10px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
                </a>
                <a class="technology__link technology__link--ts">
                    <img style="--x: -135px; --y: 10px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
            </div>
            <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-3">
                <a class="technology__link technology__link--css">
                    <img style="--x: 0; --y: -100px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
                <a class="technology__link technology__link--html">
                    <img style="--x: -135px; --y: -100px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
            </div>
            <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-3">
                <a class="technology__link technology__link--sass">
                    <img style="--x: 0; --y: -200px; --w: 140px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
                <a class="technology__link technology__link--php">
                    <img style="--x: -135px; --y: -200px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
            </div>
            <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-3">
                <a class="technology__link technology__link--python">
                    <img style="--x: -75px; --y: -290px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
                <a class="technology__link technology__link--python">
                    <img style="--x: -75px; --y: -290px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
            </div>
        </div>
        <div class="l-row technology--chosen">
            <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-3">
                <a class="technology__link technology__link--react">
                    <img style="--x: 0; --y: -395px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
                <a class="technology__link technology__link--native">
                    <img style="--x: -135px; --y: -390px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
            </div>
            <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-3">
                <a class="technology__link technology__link--vue">
                    <img style="--x: 0; --y: -500px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
                <a class="technology__link technology__link--node">
                    <img style="--x: -135px; --y: -500px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
            </div>
            <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-3">
                <a class="technology__link technology__link--express">
                    <img style="--x: 0; --y: -610px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
                <a class="technology__link technology__link--django">
                    <img style="--x: -135px; --y: -610px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
            </div>
            <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-3">
                <a class="technology__link technology__link--laravel">
                    <img style="--x: 0; --y: 10px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
                <a class="technology__link technology__link--laravel">
                    <img style="--x: 0; --y: 10px; --w: 120px; --h: 120px; --url: url( {% static 'img/technology_logos.png' %} )" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                </a>
            </div>
        </div>
        <div class="l-row">
            <div class="l-col-xs-12 flex-center">
                <vue-component>
                    <overlay button-open-text="See all" class="technology-all">
                        <div class="l-container technology-all__container">
                            <div class="l-row technology-all__row">
                                <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-4 l-col-xl-2 technology-all__col">
                                    <div class="technology-all__category">
                                        <h3 class="technology-all__category-title">Languages</h3>
                                        <ul class="technology-all__list">
                                            <li class="technology-all__item">Java Script</li>
                                            <li class="technology-all__item">Type Script</li>
                                            <li class="technology-all__item">Css / Sass</li>
                                            <li class="technology-all__item">PHP</li>
                                            <li class="technology-all__item">Python</li>
                                            <li class="technology-all__item">GraphQl</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-4 l-col-xl-2 technology-all__col">
                                    <div class="technology-all__category">
                                        <h3 class="technology-all__category-title">Frameworks</h3>
                                        <ul class="technology-all__list">
                                            <li class="technology-all__item">React / React Native / Vue</li>
                                            <li class="technology-all__item">Express / Nest</li>
                                            <li class="technology-all__item">Boostrap / Materialize</li>
                                            <li class="technology-all__item">Django</li>
                                            <li class="technology-all__item">Laravel</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-4 l-col-xl-2 technology-all__col">
                                    <div class="technology-all__category">
                                        <h3 class="technology-all__category-title">Tools</h3>
                                        <ul class="technology-all__list">
                                            <li class="technology-all__item">Git</li>
                                            <li class="technology-all__item">Npm / Yarn</li>
                                            <li class="technology-all__item">Composer</li>
                                            <li class="technology-all__item">Pip</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-4 l-col-xl-2 technology-all__col">
                                    <div class="technology-all__category">
                                        <h3 class="technology-all__category-title">Services</h3>
                                        <ul class="technology-all__list">
                                            <li class="technology-all__item">Github</li>
                                            <li class="technology-all__item">Amazon</li>
                                            <li class="technology-all__item">Heroku</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-4 l-col-xl-2 technology-all__col">
                                    <div class="technology-all__category">
                                        <h3 class="technology-all__category-title">Editors</h3>
                                        <ul class="technology-all__list">
                                            <li class="technology-all__item">WebStorm</li>
                                            <li class="technology-all__item">Vs Code</li>
                                            <li class="technology-all__item">Figma</li>
                                            <li class="technology-all__item">PhotoShop</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="l-row technology-all__row">
                                <div class="l-col-xs-12">
                                    <h3 class="technology-all__category-title">
                                        Chosen Favorite js libraries
                                    </h3>
                                </div>
                            </div>
                            <div class="l-row technology-all__row">
                                <div class="l-col-xs-12 l-col-sm-6 l-col-lg-2 technology-all__col">
                                    <ul class="technology-all__list">
                                        <li class="technology-all__item">Webpack</li>
                                        <li class="technology-all__item">Sequalizer</li>
                                        <li class="technology-all__item">TypeORM</li>
                                        <li class="technology-all__item">Axios</li>
                                        <li class="technology-all__item">Socket IO</li>
                                    </ul>
                                </div>
                                <div class="l-col-xs-12 l-col-sm-6 l-col-lg-2 technology-all__col">
                                    <ul class="technology-all__list">
                                        <li class="technology-all__item">Jest</li>
                                        <li class="technology-all__item">Jasmine</li>
                                        <li class="technology-all__item">Karma</li>
                                        <li class="technology-all__item">Mocha</li>
                                    </ul>
                                </div>
                                <div class="l-col-xs-12 l-col-sm-6 l-col-lg-2 technology-all__col">
                                    <ul class="technology-all__list">
                                        <li class="technology-all__item">Redux</li>
                                        <li class="technology-all__item">MobX</li>
                                        <li class="technology-all__item">Recoile.js</li>
                                        <li class="technology-all__item">Vuex</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </overlay>
                </vue-component>
            </div>
        </div>
    </div>
</section>