{% load static %}
<section class="contact" id="contact">
    <div class="l-container">
        <div class="l-row contact__container">
            <div class="l-col-xs-12 l-col-lg-6">
                <h3 class="contact__title">Just let me know</h3>
                <vue-component>
                    <contact-form aria-label="Send contact message">
                        {% csrf_token %}
                        <contact-form-label for="emailField" label="Email" class="floating">
                            <input class="form__input form__input--email"
                                   id="emailField"
                                   name="emailField"
                                   type="text"
                                   placeholder=" "
                                   autocomplete="email"
                                   aria-label="email"
                                   required>
                        </contact-form-label>
                        <contact-form-label for="subjectField" label="subject" class="floating">
                            <input class="form__input form__input--subject"
                                   id="subjectField"
                                   name="subjectField"
                                   type="text"
                                   placeholder=" "
                                   aria-label="subject"
                                   required>
                            </label>
                        </contact-form-label>
                        <contact-form-label for="messageField" label="message" class="floating">
                            <textarea class="form__text form__text--message"
                                      placeholder=" "
                                      id="messageField"
                                      name="messageField"
                                      aria-label="message"
                                      rows="10"
                                      required></textarea>
                        </contact-form-label>
                    </contact-form>
                </vue-component>
            </div>
            <div class="l-col-xs-12 l-col-lg-6 contact__info__container">
                <h3 class="contact__info__title">How about <span class="dont-break">cooperation ?</span></h3>
                <p class="contact__info__text text">
                    I will transform your plans and requirements into the best solutions based on
                    cutting edge technologies and trends align with best practices.
                    I will transform your plans and requirements into the best
                    solutions based on cutting edge technologies and trends align with best practices.
                    I will transform your plans and requirements into the best solutions based on
                    cutting edge technologies and trends align with best practices.
                    I will transform your plans and requirements into the best solutions based on
                    cutting edge technologies and trends align with best practicess
                    I will transform your plans and requirements into the best
                    solutions based on cutting edge technologies and trends align with best practices.
                </p>
                <p class="contact__info__text text">
                    I will transform your plans and requirements into the best solutions
                    based on cutting edge technologies and trends align with best practices.
                </p>

                <div class="contact__portals__container">
                    <div class="contact__portals__wrapper">
                        <a class="contact__portals__link contact__portals__link--github">
                            <img style="--x: 0; --y: 0px; --w: 45px; --h: 45px; --url: url({% static 'img/portals.png' %})" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                        </a>
                        <a class="contact__portals__link contact__portals__link--stackoverflow">
                            <img style="--x: -47.5px; --y: 0px; --w: 45px; --h: 45px; --url: url({% static 'img/portals.png' %})" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                        </a>
                        <a class="contact__portals__link contact__portals__link--leecode">
                            <img style="--x: -90px; --y: 0px; --w: 45px; --h: 45px; --url: url({% static 'img/portals.png' %})" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                        </a>
                        <a class="contact__portals__link contact__portals__link--linkedin">
                            <img style="--x: -132.5px; --y: 0px; --w: 45px; --h: 45px; --url: url({% static 'img/portals.png' %})" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                        </a>
                        <a class="contact__portals__link contact__portals__link--facebook">
                            <img style="--x: -179px; --y: 0px; --w: 45px; --h: 45px; --url: url({% static 'img/portals.png' %})" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                        </a>
                        <a class="contact__portals__link contact__portals__link--gmail">
                            <img style="--x: -223.5px; --y: 0px; --w: 45px; --h: 45px; --url: url({% static 'img/portals.png' %})" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                        </a>
                        <vue-component>
                            <contact-number class="contact__portals__link contact__portals__link--phone contact-number" aria-role="link" loading-label="loading">
                                <img style="--x: -275px; --y: 0px; --w: 45px; --h: 45px; --url: url({% static 'img/portals.png' %})" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                                <template #controls>
                                    <button class="contact-number__btn contact-number__btn--copy"
                                            data-action="copy"
                                            data-action-confirm="Number was copied to clipboard">
                                        copy
                                    </button>
                                    <button class="contact-number__btn contact-number__btn--call" data-action="call">call</button>
                                </template>
                            </contact-number>
                        </vue-component>
                    </div>
                </div>

                <div class="contact__resume__container">
                    <button class="contact__resume__btn btn contact__resume__btn--download">Download Reasume</button>
                </div>
            </div>

        </div>
    </div>
</section>