{% load webp %}
<section class="intro" id="intro">
    <div class="l-container">
        <div class="l-row">
            <div class="l-col-xs-12 l-col-lg-6 intro__column">
                <div class="intro__container">
                    <h5 class="intro__subtitle">Hi I’m Robert and I ...</h5>
                    <h1 class="intro__title">Building creative web solutions you deserve</h1>
                    <h6 class="intro__subtitle intro__subtitle--small">
                        I will transform your plans and requirements into
                        the finest solutions based on cutting edge trends
                        and technologies aligned with best practices.
                    </h6>
                </div>
            </div>
            <div class="l-col-xs-12 l-col-lg-6 intro__column">
                <div class="intro__img__wrapper">
                    <svg class="intro__img__mask" width="0" height="0">
                        <defs>
                            <clipPath id="codeClip" clipPathUnits="objectBoundingBox">
                                <path d="M 0.1038 0.3756 L 0.307 0.4657 V 0.591 L 0 0.4275 V 0.3217 L 0.307 0.1582 V 0.2837 L 0.1038 0.3756 Z" fill="black"/>
                                <path d="M 0.4243 0.7085 H 0.3476 L 0.5387 0 H 0.6154 L 0.4243 0.7085 Z" fill="black"/>
                                <path d="M 0.8753 0.3742 L 0.6682 0.2832 V 0.1586 L 0.9787 0.3222 V 0.4275 L 0.6682 0.5916 V 0.4665 L 0.8753 0.3742 Z" fill="black"/>
                            </clipPath>
                        </defs>
                    </svg>
                    <div class="intro__img__container">
                        <img class="intro__img"  src="{% webp 'img/code.png' %}" alt="Code">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>