* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
}


html {
  scroll-snap-type: y mandatory;
  scroll-padding: 100px;
}

html, body{
  background: var(--color-background-primary);
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  //noinspection CssInvalidPropertyValue
  min-height: stretch;
}


h1, h2, h3, h4, h5, h6,
p, span, li,
a, a:link, a:active, a:visited,
div, article, aside, nav {
  color: var(--color-text-primary);
  &.highlighted{
    color: var(--color-pallet-primary);
  }
}

div, p, span, li,
a, a:link, a:active, a:visited{
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

a, a:link, a:active, a:visited{
  &.link-button{
    background: var(--color-pallet-primary);
    color: var(--color-text-primary);
    padding: .25em .5em;
  }
}

p.text{
  font-family: "Source Sans Pro","Roboto",sans-serif;
  line-height: 1.4em;
  max-width: 80ch;
  &--color{
    color: var(--color-pallet-primary);
  }
  &--small{
    font-size: 0.75em;
  }
}
span.text{
  &--left{
    float: left;
  }
  &--right{
    float: right;
  }
}

span.dont-break{
  white-space: nowrap;
}

h1 { font-size: 2.25rem }
h2 { font-size: 2rem }
h3 { font-size: 1.5rem };
h4 { font-size: 1.375rem };
h5 { font-size: 1.125rem };
h6 { font-size: 1rem };

button {
  font-size: 1.125rem;
  padding: 8px 16px;
  background: transparent;
  border: 1px solid var(--color-pallet-primary);
  outline: none;
  color: var(--color-text-primary);
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  &:hover, &:focus {
    border-color: var(--color-pallet-secondary);
  }
}

a, a:link, a:visited{
  color: var(--color-pallet-primary);
  text-decoration: none;
  font-family: "Source Sans Pro", "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
  &:hover{
    color: var(--color-pallet-secondary);
  }
  &.link--secondary{
    color: var(--color-pallet-primary);
    &:hover{
      color: var(--color-text-primary);
    }
  }
  &:focus,
  &:active,
  &:focus:active{
    outline-color: var(--color-pallet-secondary);
    outline-style: solid;
    outline-offset: 0.3em;
  }
}

ul{
  margin: 0;
  padding: 0;
}

input, textarea{
  font-size: 1rem;
  background: transparent;
  color: var(--color-text-primary);
  border: none;
  border-bottom: 1px solid var(--color-pallet-primary);
  padding: 6px 12px;
  outline: none;
  &:hover,
  &:focus,
  &:hover:focus{
    outline: none;
    border-color: var(--color-pallet-secondary);
  }

  &:after{
    content: attr(aria-label);
    display: block;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus{
    border-bottom: 1px solid var(--color-pallet-secondary);
    -webkit-text-fill-color: var(--color-text-primary);
    font-size: 1em;
    transition: background-color 5000000s ease-in-out 0s;
  }
  &:-webkit-autofill:hover{
    border-bottom: 1px solid var(--color-pallet-secondary);
  }
}

textarea{
  border-bottom: none;
  border-left: 1px solid var(--color-pallet-primary);
  resize: none;
}


label.floating{
  box-sizing: border-box;
  display: table;
  position: relative;
  margin: 25px 0;
  height: 2em;
  //noinspection CssInvalidPropertyValue
  width: stretch;
  input, textarea{
    position: relative;
    padding-left: 1.5em;
    top: .7em;
    left: 0;
    width: calc(100% - 1.0em)
  }

  textarea {
    top: 2.3em;
    @include scrollTight(
      var(--color-pallet-primary),
      var(--color-text-primary),
      var(--color-text-primary),
      10px
    );
    &:hover, &:focus{
      @include scrollTight(
        var(--color-pallet-secondary),
        var(--color-text-primary),
        var(--color-text-primary),
        10px
      );
    }
  }

  input + span,
  textarea + span{
    left: 1.5em;
  }

  span{
    position: absolute;
    &:first-letter{
      text-transform: uppercase;
    }
    left: 4em;
    top: 1em;
    font-size: 1em;
    letter-spacing: .5px;
  }

  textarea + span{
    top: 2.7em;
  }

  input:not(:placeholder-shown) + span,
  textarea:not(:placeholder-shown) + span{
    color: var(--color-pallet-primary);
    font-size: 0.875rem;
    top: -1em;
    left: 0;
    right: unset;
  }

  input:not(:placeholder-shown):hover + span,
  input:not(:placeholder-shown):focus + span,
  input:-webkit-autofill + span,
  textarea:not(:placeholder-shown):hover + span,
  textarea:not(:placeholder-shown):focus + span {
    color: var(--color-pallet-secondary)
  }

  p{
    color: var(--color-pallet-warning);
    min-height: 1.2em;
    margin-left: 1em;
    font-size: 0.875em;
    &:first-letter{
      text-transform: uppercase;
    }
  }

  textarea ~ p {
    margin-top: 3em;
  }
}

@include media('sm'){
  $indent: $paragraph-indent;
  label.floating{
    textarea, input{
        left: $indent;
        width: calc(100% - #{$indent});
    }

    input + span,
    textarea + span{
      left: calc(#{$indent} + 1.5em);
    }

    input:not(:placeholder-shown) + span,
    textarea:not(:placeholder-shown) + span{
      left: unset;
      right: calc(100% - #{$indent});
      top: 0;
    }
    p{
      margin: 1.5em 0 0 #{$indent};
    }
  }
}


.modal{
  background: var(--color-background-primary);
  border: 1px solid var(--color-pallet-primary);
  border-radius: 2px;
  box-shadow: 0 0 4px var(--color-pallet-primary);
}

.component.spinner{
  --spinner-color: var(--color-pallet-primary);
  --spinner-bg-color: var(--color-text-primary);
}


.overlay{
  &__btn{
    &--open{}
    &--close{
      @include svgMask(
        $cross-svg,
        var(--color-pallet-primary),
        var(--color-pallet-secondary),
        42px,
        40px
      );
      position: fixed;
      top: 15px;
      right: 15px;
      //z-index: 1001;
      @include stacking('overlay');

      @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
        top: 25px;
        right: 25px;
      }

      @media screen and (min-width: map-get($grid-breakpoints, "xl")) {
        top: 40px;
        right: 40px;
      }
    }
  }
  &__content{
    background: var(--color-background-primary);
    padding: 50px 0;
  }
}

select{
  background-color: transparent;
  border:none;
  padding: 0 .5em 0 .4em;
  width: 100%;
  font-family: "Source Sans Pro", "Roboto", sans-serif;
  font-size: 1.5rem;
  cursor: inherit;
  line-height: inherit;
  color: var(--color-text-primary);
  border-bottom: 1px solid var(--color-pallet-primary);
  border-top: 1px solid var(--color-pallet-primary);
  &:focus{
    outline: none;
    border-color: var(--color-pallet-secondary);
  }
  &:focus:hover{
    border-bottom-color: transparent;
  }
  option {
    background: var(--color-background-primary);
    border: none;
  }
}

.dropdown{
  $self: &;
  display: flex;
  //noinspection CssInvalidPropertyValue
  width: stretch;
  font-size: 1rem;
  font-family: "Source Sans Pro", "Roboto", sans-serif;
  &__button{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--color-pallet-primary);
    border-top: 1px solid var(--color-pallet-primary);
    font-size: inherit;
    font-family: inherit;
    min-width: 15ch;
    text-align: left;
    padding: .5em 2.5em .5em 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
    @include pseudo(){
      left: unset;
      right: .25em;
      width: 1em;
      top: 50%;
      transform: translateY(-50%);
      background: var(--color-text-primary);
      @include svgMask(
        $arrow-down-svg,
        var(--color-text-primary),
        var(--color-pallet-secondary),
        1em,
        1em,
      )
    }
    &[aria-expanded]{
      border-bottom-color: transparent;
      &::after{
        transform: translateY(-50%) rotate(180deg);
      }
    }
    &[aria-expanded],
    &:focus{
      &:after{
        background: var(--color-pallet-secondary);
      }
    }
  }
  &__label{
    font-size: inherit;
    font-family: inherit;
    padding-right: 1em;
    border-bottom: 1px solid  var(--color-pallet-primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 5em;
    padding-left: 1em;
  }
  &__list{
    @include stacking('dropdown');
    z-index: 10;
    font-size: inherit;
    font-family: inherit;
    background: var(--color-background-primary);
    &-container{
      font-size: inherit;
      font-family: inherit;
      flex: 1;
    }
    border-left: 1px solid var(--color-pallet-primary);
    &:focus{
      outline: none;
    }
  }
  &__item{
    position: relative;
    cursor: pointer;
    font-size: inherit;
    margin: 0 1.5em 0 1em;
    padding: .5em 1em .5em 0;
    border-bottom: 1px solid var(--color-separator);
    &:first-of-type{
      margin-top: 0;
      border-top: 1px solid var(--color-separator);
    }
    &:hover, &--active{
      color: var(--color-pallet-primary)
    }
    &[aria-selected='true']{

    }
  }
  &__text{
    &, &--right{
      color: inherit;
      font-size: inherit;
      font-family: inherit;
    }
    &--right{
      float: right;
    }
  }
  &--multi{
    #{$self}__item[aria-selected='true']{
      @include pseudo(){
        left: unset;
        right: .5em;
        top: 50%;
        transform: translateY(-50%);
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        background: var(--color-text-primary);
      }
    }
  }
}