@import "@common/mixins/mixins-front";
@import "@common/assets";
@import "@common/grid";

@import "variables/variables-index";
@import "colors/colors--index";
@import "fonts";
@import "general";
@import "animations";
@import "layout/layout--index";
@import "header";
@import "content/index/sections";
@import "footer";


@include media("xl"){
  body > header{
    &:after{ display: none; }
    padding-top: 0;
    margin-top: 0;
    height: 100px;
    position: fixed;
    //noinspection ALL
    .l-container{
      height: stretch;
      display: flex;
      align-items: flex-end;
    }
  }
}
