{% load i18n %}
<vue-component>
    <contact-number class="contact__portals__link contact__portals__link--phone contact-number" aria-role="link" loading-label="loading">
        {% include 'partial/icon-img.html' with alt=contact.name %}
        <template #controls>
            <button class="contact-number__btn contact-number__btn--copy"
                    data-action="copy"
                    data-action-confirm="{% translate 'Number was copied to clipboard' %}">
                {% translate 'copy' %}
            </button>
            <button class="contact-number__btn contact-number__btn--call" data-action="call">{% translate 'call' %}</button>
        </template>
    </contact-number>
</vue-component>