@mixin scroll(
  $track-color,
  $thumb-color,
  $thumb-hover-color,
  $width: 15px
){
  cursor: pointer;
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track-piece,
  &::-webkit-scrollbar-corner{
    background: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $thumb-hover-color;
  }
}


@mixin scrollTight(
  $track-color,
  $thumb-color,
  $thumb-hover-color,
  $width: 15px
){
  //for firefox
  scrollbar-color: $thumb-color $track-color;
  //for rest
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track-piece,
  &::-webkit-scrollbar-corner{
    background-image: linear-gradient(to left, $track-color 1px, transparent 2px);
    background-size: 2px 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $thumb-hover-color;
  }
}


@mixin pseudo($type: 'after', $position: absolute, $stretch: true){
  @if $position == absolute {
    position: relative;
    &:#{$type}{
      @if $stretch == true {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
  &:#{$type}{
    position: $position;
    content: "";
    display: block;
    @content
  }
}

@mixin transition-center(){
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin stacking($name){
  z-index: map-get($stackingIndex, $name);
}