.footer{
  padding-bottom: 0;
  margin-top: 5vh;
  &__container{
    border-top: 1px solid var(--color-pallet-priamry);
    display: flex;
    justify-content: flex-end;
    p{
      opacity: 0.7;
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
  .footer{
    &__container{
      margin-left: 50px;
    }
  }
}