@import "font";

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-padding: 100px;
}

html, body{
  background: var(--color-background-primary);
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  //noinspection CssInvalidPropertyValue
  min-height: stretch;
}

h1, h2, h3, h4, h5, h6,
p, span, li,
a, a:link, a:active, a:visited,
div, article, aside, nav {
  color: var(--color-text-primary);
}

div, p, span, li,
a, a:link, a:active, a:visited{
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

h1 { font-size: 2.25rem }
h2 { font-size: 2rem }
h3 { font-size: 1.5rem };
h4 { font-size: 1.375rem };
h5 { font-size: 1.125rem };
h6 { font-size: 1rem };

button {
  font-size: 1.125rem;
  padding: 8px 16px;
  background: transparent;
  border: 1px solid var(--color-pallet-priamry);
  outline: none;
  color: var(--color-text-primary);
  border-radius: 4px;
  cursor: pointer;
  &:hover, &:focus {
    border-color: var(--color-pallet-secondary);
  }
}

a, a:link, a:visited{
  color: var(--color-pallet-priamry);
  text-decoration: none;
  font-family: "Source Sans Pro", "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
  &:hover{
    color: var(--color-pallet-secondary);
  }
  &.link--secondary{
    color: var(--color-pallet-priamry);
    &:hover{
      color: var(--color-text-primary);
    }
  }
  &:focus,
  &:active,
  &:focus:active{
    outline-color: var(--color-pallet-secondary);
    outline-style: solid;
    outline-offset: 0.3em;
  }
}

ul{
  margin: 0;
  padding: 0;
}
