@import "@common/grid";

section{
  min-height: calc(var(--vh) * 100 - 100px);
  padding: 15px;
  display: flex;
  &:first-of-type{
    margin-top: 100px;
  }
}

body > footer,
body > header
{ padding: 15px}

.flex-center{
  display: flex;
  justify-content: center;
}

@media screen and (min-width: map-get($grid-breakpoints, 'xsm')) {
  .l-row > * {
    padding: 0 10px;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'sm')) {
  .l-row > * {
    padding: 0 20px;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'md')) {
  section{
    padding: 20px;

  }
  body > footer,
  body > header {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
  section{
    padding: 25px;
    .l-container{
      max-width: 1030px;
      margin-right: auto;
      margin-left: auto;
    }
  }

}

@media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
  section,
  body > header,
  body > footer{
    padding-left: 170px;
    .l-container{
      margin-right: auto;
      margin-left: auto;
      max-width: 1100px;
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
  section,
  body > header,
  body > footer{
    padding-left: 160px;

    .l-container{
      max-width: 1200px;
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, 'xxxl')) {
  section,
  body > header,
  body > footer{
    padding-left: 220px;

    .l-container{
      max-width: 1300px;
    }
  }
}

@media screen and (max-height: map-get($grid-breakpoints-vertical, 'md')) {
  section{
    padding-top: 0;
    padding-bottom: 0;
  }
}


//@media screen and (min-height: map-get($grid-breakpoints-vertical, 'lg')) {
//  section{
//    min-height: calc(var(--vh) * 95);
//  }
//}
