@use "@sass/abstracts/mixins" as *;
@use "@sass/abstracts/animations" as *;

.projects {
  &__container{
    display: flex;
    flex-direction: column;
  }
  &__row{
    padding-left: 0;
    padding-right: 0;
    &:first-of-type{
      margin-top: 5vh;
    }
    &:last-of-type{
      margin: 7.5vh 0;
    }
    & > * {
      padding: 0;
    }
  }
}
.projects[data-was-intersected]{
  .slider__item{
    @include fade-up-animation(0, 2s);
    @for $i from 0 through 30{
      &[data-index='#{$i}']{
        animation-delay: calc(#{$i} * .3s);
      }
    }
  }
}

@include media("lg"){
  .projects .slider{
    padding: 0 50px;
    &__controls{
      display: flex;
    }
  }
  .projects .slider{
    margin-left: -25px;
    margin-right: -25px;
  }
}


@include media("lg") {
  .projects{
    &__row{
      &:first-of-type{
        margin-top: auto;
      }
      &:last-of-type{
        margin-bottom: auto;
        margin-top: auto;
      }
    }
    .slider__item{
      opacity: 0;
    }
  }
  .projects[data-was-intersected]{
    //.slider__item{
    //  @include fade-up-animation(0, 2s);
    //  @for $i from 0 through 30{
    //    &[data-index='#{$i}']{
    //      animation-delay: calc(#{$i} * .3s);
    //    }
    //  }
    //}
    .btn.btn--all{
      @include fade-up-animation(1s, 2s);
    }
    .slider__controls{
      @include show-in-animation(1.5s, 2s);
    }
  }
}

@include media('xl') {
  .projects{
    .slider{
      min-width: 1020px;
    }
  }
}

@include media('xxl') {
  .projects{
    .slider{
      min-width: 1080px;
    }
  }
}

@include media('xxxl') {
  .projects{
    .slider{
      min-width: 1200px;
    }
  }
}