@use "@sass/abstracts/mixins" as *;
@use "@sass/abstracts/placeholders";
@use "@sass/abstracts/animations" as *;
@use "@sass/abstracts/assets" as *;
@use "@sass/components/modal";
@use "@sass/components/simple-slider";
@use "@sass/components/cv-configurator";

.contact{
  $self: &;
  min-height: calc(80 * var(--vh));
  .l-container {
    display: flex;
    align-items: center;
    & > .l-row > * {
      min-height: 50vh;
    }
  }

  &__container{
    display: flex;
    justify-content: center;
  }

  &__title{
    margin-bottom: 40px;
    opacity: 0;
    display: none;
  }

  .form{
    &__summary{
      display: flex;
      flex-direction: column;
      padding-left: 45px;
      padding-right: 0;
      &__group{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
      }
    }

    &__btn--send{
      margin-left: auto;
      margin-top: 20px;
      margin-right: 0;
      opacity: 0;
    }

    &__message{
      color: var(--color-text-primary);
      margin: 0 2em 0 0;

      &[data-succes=false]{
        color: var(--color-pallet-warning);
      }
    }
    &__label{
      opacity: 0;
      &[for='messageField']{
        margin-bottom: 1rem;
        textarea{
          height: 10em;
        }
      }
      &[for='rulesField']{
        display: flow-root;
        margin: 0;
        .checkbox{
          margin-top: 1rem;
        }
        p {
          max-width: 50ch;
        }
      }
    }
  }

  input{
    display: block;
    width: 200px;
  }

  .spinner{
    margin-top: 20px;
    --spinner-color: var(--color-pallet-primary);
    --spinner-bg-color: var(--color-text-primary);
    &__label{
      letter-spacing: .5px;
    }
  }

  &__info{
    &__container{
      @extend .indented;
      margin-top: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &__text{
      color: var(--color-pallet-primary);
      opacity: 0;
      margin-top: 1em;
      &:first-of-type{
        margin-top: 2rem;
      }
    }
    &__title{
      margin-bottom: 1rem;
      opacity: 0;
      display: none;
    }
  }

  &__portals{
    &__container{
      max-width: 250px;
      width: 420px;
      margin: 25px auto;
      opacity: 0;
    }
    &__wrapper{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    &__link{
      position: relative;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      & > img{
        width: var(--w);
        height: var(--h);
        background-image: var(--url);
        background-position: var(--x) var(--y);
        background-repeat: no-repeat;
        filter: grayscale(1);
        transition: filter .1s;
        &:hover{
          filter: grayscale(0);
        }
      }
    }
  }

  &-resume__container{
    margin-top: auto;
    display: flex;
    justify-content: center;
    opacity: 0;
    will-change: opacity, transform;
    .link-btn,
    button {
      &:not(:last-child){
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:not(:first-child){
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
      }
      z-index: 0;
      position: relative;
      &:hover{
        z-index: 1;
      }
    }
  }


  @include media("sm", max){
    &__portals{
      &__container{
        width: 450px;
        max-width: 250px;
        margin: 25px auto;
      }
    }
    .form{
      &__summary{
        padding-left: unset;
      }
      &__message{
        margin-top: 0;
        margin-left: 0;
      }
    }

    .spinner{
      width: 100%;
      &__label{
        margin-right: auto;
      }
      &__ring{
        margin-left: auto;
      }
    }
  }

  @include media("sm"){
    .form{
      &__summary__group{
        flex-wrap: nowrap;
      }
      &__label{
        &[for='rulesField']{
          margin: 0;
          .checkbox {
            margin-left: 3rem;
          }
        }
        & > p {
          margin-left: 2.75rem;
        }
      }
    }

    &__portals{
      &__container{
        max-width: unset;
        margin-left: 0;
      }
    }

  }

  @include media("md"){
    &__portals{
      &__container{
        max-width: unset;
        margin-left: 0;
      }
    }
    &-resume__container{
      justify-content: flex-end;
    }
    @include media-vertical('smd'){
      .contact__container>div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      h3{
        margin-bottom: 1rem;
      }
      label.floating{
        margin: 0;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
      .contact__info__text{
        &:first-of-type{
          margin-top: 0;
        }
      }

      .form__label[for="messageField"] textarea{
        height: 7em;
      }
    }
  }

  @include media("lg"){
    &__info{
      &__container{
        margin-top: 0;
      }
      &__text{
        &:first-of-type{
          margin-top: 30px;
        }
      }
    }
  }

  @include media("xl"){
    label.floating{
      margin: 1em 0;
    }
    &__info{
      &__container{
        margin-top: 0;
      }
      &__text{
        &:first-of-type{
          margin-top: 30px;
        }
      }
    }
  }


  //--- animations portal logos
  @include media("xxl", min, 50px){
    &__portals{
      &__wrapper{
        flex-direction: column;
        height: 450px;
        & > * {
          @include opacity-keyframes();
          @include animation(opacity, 0s, .5s);
          opacity: 0;
        }
        @for $i from 1 through 10{
          & :nth-child(#{$i}){
            animation-delay: calc(3s + .1s * #{$i});
          }
        }
      }
  // ------------------------
      &__container{
        opacity: 1;
        position: fixed;
        height: 100%;
        top: 0;
        right: calc((100vw - 160px - 25px - 1200px) / 2 / 2 - 15px) ;
        width: 50px;
        flex-direction: column;
        display: flex;
        align-items: center;
        & > :first-child{
          margin-top: auto;
        }
        & > :last-child{
          margin-bottom: auto;
        }
      }
    }
  }
  @include media("xxxl"){
    &__portals{
      &__container{
        right: calc((100vw - 220px - 25px - 1300px) / 2 / 2 - 15px) ;
      }
    }
  }

  // animations------------------


  &[data-was-intersected]{
    #{$self}__title{
      display: initial;
      @include fade-left-animation(0s, .6s);
    }
    .form__label{
      @include show-in-animation(0s, .6s);
      @for $i from 0 through 10{
        &:nth-of-type(#{$i}){
          animation-delay: calc(#{$i} * .3s);
        }
      }
    }
    .form__btn--send,
    #{$self}-resume__container{
      @include fade-up-animation(1s, .5s);
    }
    #{$self}__info__title{
      display: initial;
      @include fade-right-animation(0, 1s);
    }
    #{$self}__info__text{
      @include fade-up-animation(.75s, 1s);
    }
    @include media("xxl", max, 50px){
      #{$self}__portals__container{
        @include fade-right-animation(1s, 1s);
      }
    }
  }
}

.contact-number{
  &__modal{
    width: 320px;
    height: 265px;
    display: flex;
    flex-direction: column;
  }
  &__container{
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__controls{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    place-items: center;
    margin: 0 2rem;
  }
  &__number{
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__btn{
    @extend .icon-button;
    @include svg-pseudo($copy-svg, var(--color-text-primary),var(--color-pallet-secondary));
    @include pseudo-content(){ bottom: 2.5rem;}
    &--call:after{
      mask-image: $call-svg;
    }
  }
}
