@use "@sass/components/project-card/project-card__bootstrap";
@use "@sass/components/project-card/project-card--demo";
@use "@sass/abstracts/animations" as *;
@use "@sass/abstracts/mixins" as *;

.projects{
  margin: 75px 0 150px 0;

  @include media('xxl'){
    margin: 125px 0 200px 0;
  }
  &__container--loading{
    filter: blur(1px);
    opacity: .7;
    div.card-project{
      @include show-out-animation(0s, .6s);
    }
  }

  &__container,
  &__loading-container{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    grid-gap: 75px 25px;
    @include media("md"){
      grid-template-columns: repeat(2, 1fr);
    }
    @include media("lg"){
      grid-template-columns: repeat(3, 1fr);
      &> * {
        &:nth-child(3n + 1){
          justify-self: start;
        }
        &:nth-child(3n + 3){
          justify-self: end;
        }
      }
    }

    @include media("xl"){
      grid-template-columns: repeat(4, 1fr);
      &> * {
        &:nth-child(3n + 1){
          justify-self: unset;
        }
        &:nth-child(3n + 3){
          justify-self: unset;
        }
      }
    }
    @include media('xxl'){
      grid-gap: 75px 50px;
    }
  }

  &__loading-container{
    margin-top: 75px;
    & > * {
      display: none;
    }
    & > :nth-child(4n - 3){
      display: block;
    }
    @include media("md"){
      & > :nth-child(4n - 2){
        display: block;
      }
    }
    @include media("lg"){
      & > :nth-child(4n - 1){
        display: block;
      }
    }
    @include media("xl"){
      & > * {
        display: block;
      }
    }
  }

  .card-project{
    max-width: min(100%, 300px);
    height: 585px;

    transition: transform .2s;
    will-change: transform, opacity;
    &:hover{
      transform: scale(1.05);
    }

    @include show-in-animation(0s, .4s);

    @include no-motion(){
      &:hover{
        transform:  scale(1);
      }
    };
  }
}