<!-- Global site tag (gtag.js) - Google Analytics -->
{% if analyticsGCode %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{analyticsGCode}}" ></script>
<script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}

  // Default ad_storage to 'denied'. - no cookies
  gtag('consent', 'default', {
    'ad_storage': 'denied'
  });

  gtag('set', 'allow_google_signals', false);

  gtag('js', new Date());
  gtag('config', '{{analyticsGCode}}',  {
      "anonymize_ip": true,
      "cookie_domain": '{{request.get_host}}',
      "cookie_flags": 'SameSite=None;Secure',
      "send_page_view": false
  });
</script>


{% endif %}