
<meta property="og:title" content="{{meta.meta_title}}">
<meta property="og:url" content="{{request.build_absolute_uri}}">
<meta property="og:description" content="{{meta.meta_description}}">
<meta property="og:type" content="website" />
<meta property="og:locale" content="{{meta.locale}}" />
<meta property="og:site_name" content="{{meta.site_name}}" />
{% if meta.image %}
<meta property="og:image" content="{{meta.image.url}}" />
<meta property="og:image:type" content="{{meta.image.type}}" />
<meta property="og:image:width" content="{{meta.image.width}}" />
<meta property="og:image:height" content="{{meta.image.height}}" />
<meta property="og:image:alt" content="{{meta.image.alt}}" />
{% endif %}