{% load i18n %}
<footer class="footer">
    <div class="l-container">
        <div class="l-row">
            <div class="l-col-xs-12">
                <div class="footer__container">
                    <h4 class="text--small">
                        {% now "Y" as current_year %}
                        © {{ current_year }} Robert Kamiński - {% translate 'All Rights Reserved' %}
                    </h4>
                </div>
            </div>
        </div>
    </div>
</footer>