{% load static i18n %}
<section class="technology" id="{% translate 'technology' %}">
    <div class="l-container ">
        {% for type, technologies in technologies_main.items %}
        <div class="l-row technology--chosen">
            {% for t in technologies %}
                {% if forloop.first %}
                    <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-3">
                {% endif %}
                {% if forloop.counter0|divisibleby:2 and not forloop.first %}
                    </div>
                    <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-3">
                {% endif %}
                    <a href='{{t.link}}' target="_blank" rel="noreferrer"
                       class="technology__link technology__link--{{t.name.lower|slugify}} technology__link--{% widthratio forloop.counter 1 forloop.parentloop.counter %}">
                        {% include 'partial/icon-img.html' with url=t.image_url top=t.top left=t.left width=t.width height=t.height is_sprite=t.is_image_sprite %}
                        <span class="technology__link-text" style="--color:{{t.color}}">{{t.name}}</span>
                    </a>
                {% if forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
        <div class="l-row">
            <div class="l-col-xs-12 flex-center">
                <vue-component>
                    <overlay button-open-text="{% translate 'See all' %}" class="technology-all">
                        <div class="l-container technology-all__container">
                            <div class="l-row technology-all__row">
                            {% for type_name, technologies in technologies_all.items %}
                                {% if technologies|length >= 12 %}
                                {% if not forloop.first %}<div class="l-row technology-all__row">{% endif %}
                                    <div class="l-col-xs-12">
                                        <h3 class="technology-all__category-title">
                                            {{type_name}}
                                        </h3>
                                    </div>
                                </div>
                                <div class="l-row technology-all__row">
                                    <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-4 l-col-xl-2 technology-all__col">
                                    {% for tech in technologies %}
                                            {% if forloop.counter0|divisibleby:6 and not forloop.first %}
                                                </ul></div>
                                                <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-4 l-col-xl-2 technology-all__col">
                                                <ul class="technology-all__list">
                                            {% endif %}
                                            <li class="technology-all__item">{{tech.name}}</li>
                                    {% endfor %}
                                    </div>
                                </div>
                                <div class="l-row technology-all__row">
                                {% else %}
                                    <div class="l-col l-col-xs-12 l-col-sm-6 l-col-lg-4 l-col-xl-2 technology-all__col">
                                    <h3 class="technology-all__category-title">{{type_name}}</h3>
                                    {% for tech in technologies %}
                                        <li class="technology-all__item">{{tech.name}}</li>
                                    {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </overlay>
                </vue-component>
            </div>
        </div>
    </div>
</section>