<section class="section achievements">
    <h3 class="section__title">{{cv.data.additional_achievement.section_title}}</h3>
    <ul>
        {% for item in cv.data.additional_achievement.items %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
</section>

<!--<section class="section achievements">-->
<!--    <h3 class="section__title">Achievements</h3>-->
<!--    <ul>-->
<!--        <li>-->
<!--            Advised on join-venture and subsequent sale of Youta (larger Russian 4d operator) to Megatfon (one of the larget Russain call operators) for US $1.4 bln;-->
<!--        </li>-->
<!--        <li>-->
<!--            Advised on acquisition of a share in a UK online consumer credit company-->
<!--        </li>-->
<!--        <li>-->
<!--            Advised on acquestion of a share in aGerman online food delivery company-->
<!--        </li>-->
<!--        <li>-->
<!--            Advised on > US$ 00 mln Huawei equipment supply financing-->
<!--        </li>-->
<!--        <li>-->
<!--            Advised on acquestion of a share in aGerman online food delivery company-->
<!--        </li>-->
<!--        <li>-->
<!--            Advised on > US$ 00 mln Huawei equipment supply financing-->
<!--        </li>-->
<!--        <li>-->
<!--            Advised on acquestion of a share in aGerman online food delivery company-->
<!--        </li>-->
<!--        <li>-->
<!--            Advised on > US$ 00 mln Huawei equipment supply financing-->
<!--        </li>-->

<!--    </ul>-->
<!--</section>-->