{% load utils %}
<section class="section experience">
    <h3 class="section__title">{{cv.data.experience.section_title}}</h3>
    <ul class="experience__list">
        {% for job in cv.data.experience.cvdocumentexperiencejob_set.all %}
        <li class="experience__list-item">
            <div class="job__detail">
                {% for field in experience_job_field_order %}
                    {% concat_all 'pdf/partial/experience_job_' field '.html' as template_part %}
                    {% include template_part %}
                {% endfor %}
            </div>
            {% include 'pdf/partial/experience_job_description.html' %}
        </li>
        {% endfor %}
    </ul>
</section>



