{% extends 'pdf/base.html' %}
{% load static compress utils %}
{% block style %}
{% compress css inline %}
<link rel="stylesheet" href="{% static '/front/css/pdf/cv_simple.css'%}"/>
{% endcompress %}
{% endblock %}
{% block content %}
<header>
    <div class="container">
        <a class="personal__link" href="www.rkam.dev">www.rkam.dev</a>
        <h1 class="personal__position">{{cv.data.personal.position_title}}</h1>
        <div class="personal">
            <h4 class="personal__name">{{cv.data.personal.full_name}}</h4>
            <span class="personal__birthday">{{cv.data.personal.birthday|date:"Y/m/d"}}</span>
            {% to_list 'address' 'email' 'number'  as contact_field_order %}
            {% include 'pdf/partial/contact_list.html' %}
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="col">
            {% include 'pdf/partial/summary.html' %}
            {% include 'pdf/partial/skills.html' %}
            {% include 'pdf/partial/additional_strengths.html' %}

            {% include 'pdf/partial/additional_achievements.html' %}

            {% to_list 'period' 'name' 'field' as education_school_field_order %}
            {% include 'pdf/partial/education.html' %}

        </div>
        <div class="col">
            {% to_list 'period_address' 'position' 'company' as experience_job_field_order %}
            {% include 'pdf/partial/experience.html' %}

        </div>
        {% include 'pdf/partial/agreements.html' %}
    </div>
</main>
{% endblock %}