
$maximize-svg: url("@/assets/img/maximize.svg");
$burger-svg: url("@/assets/img/burger.svg");
$cross-svg: url("@/assets/img/cross.svg");
$arrow-svg: url("@/assets/img/arrow.svg");
$arrow-up-svg: url("@/assets/img/arrow-up.svg");
$arrow-down-svg: url("@/assets/img/arrow-down.svg");
$copy-svg: url("@/assets/img/copy-content.svg");
$call-svg: url("@/assets/img/phone-call.svg");
$call-svg-magnifier: url('@/assets/img/magnifier.svg')