{% load i18n %}
<script>
    validationMessages = {
        badInput: `{% translate '[field] bad input' %}`,
        patternMismatch: `{% translate '[field] has not correct value' %}`,
        rangeOverflow: `{% translate "[field] don't fit to range. Value to big" %}`,
        rangeUnderflow: `% translate "[field] don't fit to range. Value to small" %}`,
        stepMismatch: `{% translate '[field] not correct value' %}`,
        tooShort: `{% translate 'Value of [field] is to short' %}`,
        tooLong: `{% translate '[field] value is to long' %}`,
        typeMismatch: `{% translate '[field] type value is not correct' %}`,
        valueMissing: `{% translate '[field] value is required' %}`,
    }
</script>