.fade-in-enter-active, .fade-in-leave-active {
  transition: opacity .5s ease;
}

.fade-in-enter-from, .fade-in-leave-to {
  opacity: 0;
}

@mixin no-motion(){
  @media screen and (prefers-reduced-motion: reduce) {
    animation: none;
    opacity: 1;
    transform: translate(0,0) scale(1);
    transition-duration: 0.000s;
    @content;
  }
}

@mixin opacity-keyframes(){
  @keyframes opacity {
    from {opacity: 0}
    to {opacity: 1}
  }
}

@mixin opacity-out-keyframes(){
  @keyframes opacity-out{
    from {opacity: 1}
    to {opacity: 0}
  }
}



@mixin sliding-up-keyframes(){
  @keyframes sliding-up {
    from{ transform: translateY(0);}
    to { transform: translateY(-95%); }
  }
}

@mixin scale-vertical-keyframes($origin: "top"){
  transform-origin: #{$origin};
  transform: scaleY(0);
  @keyframes scale-vertical {
    from {transform: scaleY(0)}
    to {transform: scaleY(1)}
  }
}

@mixin scale-horizontal-keyframes($origin: "left"){
  transform-origin: #{$origin};
  transform: scaleX(0);
  @keyframes scale-horizontal {
    from {transform: scaleX(0)}
    to {transform: scaleX(1)}
  }
}

@mixin scale-animation($delay, $duration, $type: "horizontal", $origin){
  @if $type == "horizontal" {
    @include scale-horizontal-keyframes($origin);
    animation-name: scale-horizontal;
  } @else {
    @include scale-vertical-keyframes($origin);
    animation-name: scale-vertical;
  }
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: forwards;
  @include no-motion();
}

@mixin background--color-keyframes($from, $to){
  @keyframes background--color{
    from{
      background-color: $from;
    }
    to {
      background-color: $to;
    }
  }
}


@mixin animation($animation-name, $delay, $duration, $fill-mode: forwards){
  animation: $animation-name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: $fill-mode;
  @include no-motion;
}

@mixin show-in-animation($delay, $duration){
  opacity: 0;
  @include opacity-keyframes();
  @include animation(opacity, $delay, $duration);
}

@mixin show-out-animation($delay, $duration){
  opacity: 1;
  @include opacity-out-keyframes();
  @include animation(opacity-out, $delay, $duration);
}


@mixin fade-in-animation($delay, $duration, $type){
  @keyframes fade-in-#{$type} {
    from{
      opacity: 0;
      @content;
    }
    to{
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  @content;
  opacity: 0;
  animation: fade-in-#{$type};
  animation-delay: $delay;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  @include no-motion();
}

@mixin fade-bottom-down-animation($delay, $duration){
  @include fade-in-animation($delay, $duration, $type:'bottom-down'){
    transform: translate(50px, 50px);
  }
}

@mixin fade-left-animation($delay, $duration){
  @include fade-in-animation($delay, $duration, $type:'left'){
    transform: translate(-50px, 0);
  }
}
