{% load webp_converter %}
<section class="welcome" id="welcome">
    <div class="l-container">
        <div class="l-row">
            <div class="l-col-xs-12 l-col-lg-6 welcome__column">
                <div class="welcome__container">
                    <h5 class="welcome__subtitle welcome__subtitle--big">Hi I’m fullstack developer who </h5>
                    <h1 class="welcome__title">Building creative web solutions you deserve</h1>
                    <h6 class="welcome__subtitle welcome__subtitle--small">
                        I will transform your plans and requirements into
                        the finest solutions based on cutting edge trends
                        and technologies aligned with best practices.
                    </h6>
                </div>
            </div>
            <div class="l-col-xs-12 l-col-lg-6">
                <div id="logoWrapper" class="logo__wrapper logo__wrapper--init">
                    <div class="logo__container">
                        <div class="logo__img-aspect">
                            <div class="logo__img-aspect__inside">
                                <svg class="logo__img-mask" viewBox="0 0 572 411" width="0" height="0">
                                    <defs>
                                        <clipPath id="codeClip"
                                                  clipPathUnits="objectBoundingBox"
                                                  transform="scale(0.00174825174826, 0.002433090024330901)"
                                                  data-svg-animation="logoClipSvg"
                                                  data-svg-animation-noscroll="true">
                                            <path/><path/><path/>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <div id="logoContainer" class="logo__img-container">
                                    <img class="logo__img" src="{% static_webp 'img/code.png' %}" alt="Code">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>