<section class="section skills">
    <h3 class="section__title">{{cv.data.skills.section_title}}</h3>
    <div class="skills__group languages">
        <p class="language">
            <span class="language__name">{{cv.data.skills.languages_skills.name}}</span>
            <span class="language_level">{{cv.data.skills.languages_skills.get_level_display}}</span>
        </p>
    </div>
    <div class="skills__group technologies">
        <ul>
            {% for technology in cv.data.skills.technologies.all %}
            <li style="--progress: {{ technology.skill_level_percentage }}">
                <span>{{technology.name}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>