a:link, a:visited {
  color: #c9c9c9;
}

.module .addlink {
  background: none;
  padding-left: 25px;
  position: relative;
}
.module .addlink::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 100%;
  background-image: url("./../../assets/img/add.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(120%) contrast(97%);
}
.module .addlink:hover::before {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(160%) contrast(97%);
}
.module .changelink {
  background: none;
  padding-left: 25px;
  position: relative;
}
.module .changelink::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 100%;
  background-image: url("./../../assets/img/pencil.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(120%) contrast(97%);
}
.module .changelink:hover::before {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(160%) contrast(97%);
}

body {
  background: #222831;
}

#header {
  height: 40px;
  background: #3e1f47ff;
  color: #000;
  box-shadow: 0 7px 2px -7px #0008 inset, 0 -7px 2px -7px #0008 inset;
}

#branding h1 a:link, #branding h1 a:visited {
  color: #c9c9c9;
  font-weight: 800;
}

#user-tools {
  color: white;
}
#user-tools strong {
  margin-right: 10px;
}
#user-tools a:hover {
  color: #353535;
}

div.breadcrumbs {
  background-color: #272640ff;
}

#toggle-nav-sidebar {
  background: #222831;
  border: none;
  font-weight: 800;
}
#toggle-nav-sidebar:hover {
  color: #c9c9c9;
}

#nav-sidebar {
  background: #222831;
  padding-top: 65px;
  border: none;
  border-right: 1px solid #393e46;
}
#nav-sidebar tr.current-model {
  background-color: rgba(6, 90, 96, 0.1);
}

#content-related {
  background: #393e46;
  border: 1px solid #1b3a4bff;
}
#content-related .module h2, #content-related .module h3 {
  color: #c9c9c9;
}
#content-related .module h2 {
  border-bottom-color: #1b3a4bff;
}
#content-related .actionlist li {
  padding-left: 30px;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6, #content p, #content span, #content div, #content ul li, #content ol {
  color: #c9c9c9;
}
#content .object-tools a {
  background: #1b3a4bff;
}
#content #change-history thead tr,
#content #change-history thead th {
  background: #312244ff;
  color: #c9c9c9;
  border-color: #fff2;
}

.content ul.messagelist li {
  background: #006466ff;
  color: #c9c9c9;
  position: relative;
}
.content ul.messagelist li.success::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 62.5px;
  background-image: url("./../../assets/img/check.svg");
  background-size: 20px 20px;
  background-position: 40px;
  background-repeat: no-repeat;
  filter: invert(100%) brightness(0.9);
}

div.calendarbox.module {
  border-color: #1b3a4bff;
  background: transparent;
}
div.calendarbox.module .calendar table caption {
  background: #0b525bff;
  color: #c9c9c9;
}
div.calendarbox.module .calendar table tr, div.calendarbox.module .calendar table th, div.calendarbox.module .calendar table td, div.calendarbox.module .calendar table tbody, div.calendarbox.module .calendar table td.nonday {
  background: #222831;
  border: none;
}
div.calendarbox.module .calendar table tr > a, div.calendarbox.module .calendar table th > a, div.calendarbox.module .calendar table td > a, div.calendarbox.module .calendar table tbody > a, div.calendarbox.module .calendar table td.nonday > a {
  color: #c9c9c9;
}
div.calendarbox.module .calendar table tr > a:hover, div.calendarbox.module .calendar table th > a:hover, div.calendarbox.module .calendar table td > a:hover, div.calendarbox.module .calendar table tbody > a:hover, div.calendarbox.module .calendar table td.nonday > a:hover {
  background: #006466ff;
}
div.calendarbox.module .calendar table tr:first-of-type {
  border-bottom: 1px solid #fff8;
}
div.calendarbox.module div.calendar-shortcuts {
  background: #222831;
}
div.calendarbox.module p.calendar-cancel {
  background: #0b525bff;
  color: #c9c9c9;
}

form fieldset.module {
  color: #c9c9c9;
  background: transparent;
}
form fieldset.module label {
  color: #c9c9c9;
}
form fieldset.module input[type=text], form fieldset.module input[type=number], form fieldset.module select, form fieldset.module textarea {
  background: #393e46;
  color: #c9c9c9;
  outline: none;
  border-color: #144552ff;
}
form fieldset.module input[type=text]:focus, form fieldset.module input[type=number]:focus, form fieldset.module select:focus, form fieldset.module textarea:focus {
  border-color: #c13fc1;
}
form fieldset.module .form-row {
  border-bottom: 1px solid #fff2;
}
form fieldset.module .related-widget-wrapper a.add-related {
  background: none;
  padding-left: 25px;
  position: relative;
  font-size: 1.1em;
  display: inline-block;
  height: 30px;
  margin-bottom: 10px;
}
form fieldset.module .related-widget-wrapper a.add-related::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 100%;
  background-image: url("./../../assets/img/add.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(120%) contrast(97%);
}
form fieldset.module .related-widget-wrapper a.add-related:hover::before {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(160%) contrast(97%);
}
form fieldset.module .related-widget-wrapper a.add-related::before {
  background-size: 1.1em;
}
form fieldset.module .related-widget-wrapper a.add-related > img {
  display: none;
}
form fieldset.module .related-widget-wrapper a.add-related::after {
  content: "add";
  line-height: 30px;
  vertical-align: middle;
}
form fieldset.module .related-widget-wrapper a.change-related {
  background: none;
  padding-left: 25px;
  position: relative;
  font-size: 1.1em;
}
form fieldset.module .related-widget-wrapper a.change-related::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 100%;
  background-image: url("./../../assets/img/pencil.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(120%) contrast(97%);
}
form fieldset.module .related-widget-wrapper a.change-related:hover::before {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(160%) contrast(97%);
}
form fieldset.module .related-widget-wrapper a.change-related::before {
  background-size: 1.1em;
}
form fieldset.module .related-widget-wrapper a.change-related > img {
  display: none;
}
form fieldset.module .related-widget-wrapper .selector {
  float: none;
}
form fieldset.module .related-widget-wrapper .selector .selector-filter,
form fieldset.module .related-widget-wrapper .selector .selector-chosen h2,
form fieldset.module .related-widget-wrapper .selector .selector-available h2 {
  background: #312244ff;
  border: none;
  color: #c9c9c9;
}
form fieldset.module .related-widget-wrapper .selector .selector-chosen h2,
form fieldset.module .related-widget-wrapper .selector .selector-available h2 {
  background: #4d194dff;
  border-bottom: 1px solid #fff8;
}
form fieldset.module .related-widget-wrapper .selector select::-webkit-scrollbar {
  width: 10px;
}
form fieldset.module .related-widget-wrapper .selector select::-webkit-scrollbar-track {
  background: #fff8;
}
form fieldset.module .related-widget-wrapper .selector select::-webkit-scrollbar-thumb {
  background: #144552ff;
}
form fieldset.module .related-widget-wrapper .selector select::-webkit-scrollbar-thumb:hover {
  background: #006466ff;
}
form .inline-group {
  overflow: initial;
}
form .inline-group h2 {
  background: #4d194dff;
}
form .inline-group fieldset.module table th {
  background: #312244ff;
  color: #c9c9c9;
  border-color: #fff2;
}
form .inline-group fieldset.module table tr:nth-child(odd) {
  background-color: #222831;
}
form .inline-group fieldset.module table tr:nth-child(even) {
  background-color: #282f3a;
}
form .inline-group fieldset.module table td {
  border-bottom: #fff2;
}
form .inline-group fieldset.module table tbody tr.add-row > td {
  background-color: #222831;
  border: none;
}
form .inline-group fieldset.module table tbody tr.add-row > td a {
  background: none;
  padding-left: 25px;
  position: relative;
  font-size: 1.1em;
}
form .inline-group fieldset.module table tbody tr.add-row > td a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 100%;
  background-image: url("./../../assets/img/add.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(120%) contrast(97%);
}
form .inline-group fieldset.module table tbody tr.add-row > td a:hover::before {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(160%) contrast(97%);
}
form .inline-group fieldset.module table tbody tr.add-row > td a::before {
  background-size: 1.1em;
}
form .inline-group[data-inline-type=stacked] div.add-row {
  background-color: #222831;
  border: none;
  border-top: 1px solid #fff2;
}
form .inline-group[data-inline-type=stacked] div.add-row a {
  background: none;
  padding-left: 25px;
  position: relative;
  font-size: 1.1em;
}
form .inline-group[data-inline-type=stacked] div.add-row a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 100%;
  background-image: url("./../../assets/img/add.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(120%) contrast(97%);
}
form .inline-group[data-inline-type=stacked] div.add-row a:hover::before {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(170deg) brightness(160%) contrast(97%);
}
form .inline-group[data-inline-type=stacked] div.add-row a::before {
  background-size: 1.1em;
}
form .inline-group[data-inline-type=stacked] .inline-related {
  border: none;
  overflow: initial;
}
form .inline-group[data-inline-type=stacked] .inline-related fieldset.module {
  display: flex;
  flex-wrap: wrap;
}
form .inline-group[data-inline-type=stacked] .inline-related fieldset.module > * {
  flex: 1 0 auto;
}
form .inline-group[data-inline-type=stacked] .inline-related fieldset.module .form-row {
  border-color: #fff2;
  max-width: 100%;
}
@media (max-width: 772px) {
  form .inline-group[data-inline-type=stacked] .inline-related fieldset.module .form-row > div {
    width: calc(100vw - 50px);
  }
}
form .inline-group[data-inline-type=stacked] .inline-related h3 {
  background: #312244ff;
  color: #c9c9c9;
  border-color: #393e46;
}
form .inline-group[data-inline-type=stacked] .inline-related h3 span.delete {
  margin-left: auto;
  flex: unset;
}
form input[type=file]::-webkit-file-upload-button {
  color: #c9c9c9;
  display: inline-block;
  background: #144552ff;
  border: none;
  padding: 7px 15px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
}
form input[type=file]:hover::-webkit-file-upload-button {
  background: #065a60ff;
}
form .submit-row {
  background: #222831;
  border: none;
  border-top: 1px solid #fff6;
  border-radius: 0;
}
form .submit-row input[type=submit] {
  background: #144552ff;
}
form .submit-row input[type=submit]:hover {
  background: #1e687b;
}
form .submit-row input[type=submit].default {
  background: #006466ff;
}
form .submit-row input[type=submit].default:hover {
  background: #009699;
}
form .file-upload a {
  line-height: 1em;
  vertical-align: middle;
  margin-left: 5px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

div.module caption {
  background-color: #0b525bff;
}
div.module table {
  color: #c9c9c9;
  background: #222831;
}
div.module table tr:nth-child(odd) {
  background: #393e46;
}
div.module table tr:nth-child(even) {
  background: #505762;
}
div.module table th, div.module table td {
  border-bottom-color: #393e46;
  color: #c9c9c9;
}

#changelist form#changelist-form .actions {
  color: #c9c9c9;
  background: #3e1f47ff;
  width: auto;
  border-bottom-color: #fff2;
}
#changelist form#changelist-form .actions select {
  color: #c9c9c9;
  outline: none;
}
#changelist form#changelist-form .actions select:focus {
  border-color: #c13fc1;
}
#changelist form#changelist-form div.results table thead tr, #changelist form#changelist-form div.results table thead tr > th, #changelist form#changelist-form div.results table thead tr > td {
  background: #312244ff;
  color: #c9c9c9;
  border-bottom-color: #fff2;
  border-top-color: #fff8;
}
#changelist form#changelist-form div.results table thead tr > th > div.text > a:hover {
  background: #4d194dff;
  color: white;
}
#changelist form#changelist-form div.results table tbody tr:nth-child(odd), #changelist form#changelist-form div.results table tbody tr:nth-child(odd) > td {
  background-color: transparent;
}
#changelist form#changelist-form div.results table tbody tr:nth-child(even), #changelist form#changelist-form div.results table tbody tr:nth-child(even) > td, #changelist form#changelist-form div.results table tbody tr:nth-child(even) > th {
  background-color: #fff1;
}
#changelist form#changelist-form div.results table tbody tr > th, #changelist form#changelist-form div.results table tbody tr > td {
  border-bottom-color: #fff2;
}
#changelist form#changelist-form p.paginator {
  width: auto;
  background: #222831;
  border-bottom: none;
  border-color: #fff6;
  color: #c9c9c9;
}

/*# sourceMappingURL=admin.css.map */
